<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.renfei.common.core.repositories.CoreSiteFriendlyLinkMapper">
  <resultMap id="BaseResultMap" type="net.renfei.common.core.repositories.entity.CoreSiteFriendlyLink">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="audit_pass" jdbcType="BIT" property="auditPass" />
    <result column="link_type" jdbcType="INTEGER" property="linkType" />
    <result column="contact_email" jdbcType="VARCHAR" property="contactEmail" />
    <result column="contact_qq" jdbcType="VARCHAR" property="contactQq" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="net.renfei.common.core.repositories.entity.CoreSiteFriendlyLinkWithBLOBs">
    <result column="sitename" jdbcType="LONGVARCHAR" property="sitename" />
    <result column="sitelink" jdbcType="LONGVARCHAR" property="sitelink" />
    <result column="in_site_link" jdbcType="LONGVARCHAR" property="inSiteLink" />
    <result column="contact_name" jdbcType="LONGVARCHAR" property="contactName" />
    <result column="remarks" jdbcType="LONGVARCHAR" property="remarks" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, is_delete, addtime, audit_pass, link_type, contact_email, contact_qq, order_id
  </sql>
  <sql id="Blob_Column_List">
    sitename, sitelink, in_site_link, contact_name, remarks
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="net.renfei.common.core.repositories.entity.CoreSiteFriendlyLinkExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from core_site_friendly_link
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="net.renfei.common.core.repositories.entity.CoreSiteFriendlyLinkExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from core_site_friendly_link
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from core_site_friendly_link
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from core_site_friendly_link
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="net.renfei.common.core.repositories.entity.CoreSiteFriendlyLinkExample">
    delete from core_site_friendly_link
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="net.renfei.common.core.repositories.entity.CoreSiteFriendlyLinkWithBLOBs">
    insert into core_site_friendly_link (id, is_delete, addtime, 
      audit_pass, link_type, contact_email, 
      contact_qq, order_id, sitename, 
      sitelink, in_site_link, contact_name, 
      remarks)
    values (#{id,jdbcType=BIGINT}, #{isDelete,jdbcType=BIT}, #{addtime,jdbcType=TIMESTAMP}, 
      #{auditPass,jdbcType=BIT}, #{linkType,jdbcType=INTEGER}, #{contactEmail,jdbcType=VARCHAR}, 
      #{contactQq,jdbcType=VARCHAR}, #{orderId,jdbcType=INTEGER}, #{sitename,jdbcType=LONGVARCHAR}, 
      #{sitelink,jdbcType=LONGVARCHAR}, #{inSiteLink,jdbcType=LONGVARCHAR}, #{contactName,jdbcType=LONGVARCHAR}, 
      #{remarks,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="net.renfei.common.core.repositories.entity.CoreSiteFriendlyLinkWithBLOBs">
    insert into core_site_friendly_link
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
      <if test="auditPass != null">
        audit_pass,
      </if>
      <if test="linkType != null">
        link_type,
      </if>
      <if test="contactEmail != null">
        contact_email,
      </if>
      <if test="contactQq != null">
        contact_qq,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="sitename != null">
        sitename,
      </if>
      <if test="sitelink != null">
        sitelink,
      </if>
      <if test="inSiteLink != null">
        in_site_link,
      </if>
      <if test="contactName != null">
        contact_name,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditPass != null">
        #{auditPass,jdbcType=BIT},
      </if>
      <if test="linkType != null">
        #{linkType,jdbcType=INTEGER},
      </if>
      <if test="contactEmail != null">
        #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="contactQq != null">
        #{contactQq,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="sitename != null">
        #{sitename,jdbcType=LONGVARCHAR},
      </if>
      <if test="sitelink != null">
        #{sitelink,jdbcType=LONGVARCHAR},
      </if>
      <if test="inSiteLink != null">
        #{inSiteLink,jdbcType=LONGVARCHAR},
      </if>
      <if test="contactName != null">
        #{contactName,jdbcType=LONGVARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.renfei.common.core.repositories.entity.CoreSiteFriendlyLinkExample" resultType="java.lang.Long">
    select count(*) from core_site_friendly_link
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update core_site_friendly_link
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=BIGINT},
      </if>
      <if test="row.isDelete != null">
        is_delete = #{row.isDelete,jdbcType=BIT},
      </if>
      <if test="row.addtime != null">
        addtime = #{row.addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.auditPass != null">
        audit_pass = #{row.auditPass,jdbcType=BIT},
      </if>
      <if test="row.linkType != null">
        link_type = #{row.linkType,jdbcType=INTEGER},
      </if>
      <if test="row.contactEmail != null">
        contact_email = #{row.contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="row.contactQq != null">
        contact_qq = #{row.contactQq,jdbcType=VARCHAR},
      </if>
      <if test="row.orderId != null">
        order_id = #{row.orderId,jdbcType=INTEGER},
      </if>
      <if test="row.sitename != null">
        sitename = #{row.sitename,jdbcType=LONGVARCHAR},
      </if>
      <if test="row.sitelink != null">
        sitelink = #{row.sitelink,jdbcType=LONGVARCHAR},
      </if>
      <if test="row.inSiteLink != null">
        in_site_link = #{row.inSiteLink,jdbcType=LONGVARCHAR},
      </if>
      <if test="row.contactName != null">
        contact_name = #{row.contactName,jdbcType=LONGVARCHAR},
      </if>
      <if test="row.remarks != null">
        remarks = #{row.remarks,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update core_site_friendly_link
    set id = #{row.id,jdbcType=BIGINT},
      is_delete = #{row.isDelete,jdbcType=BIT},
      addtime = #{row.addtime,jdbcType=TIMESTAMP},
      audit_pass = #{row.auditPass,jdbcType=BIT},
      link_type = #{row.linkType,jdbcType=INTEGER},
      contact_email = #{row.contactEmail,jdbcType=VARCHAR},
      contact_qq = #{row.contactQq,jdbcType=VARCHAR},
      order_id = #{row.orderId,jdbcType=INTEGER},
      sitename = #{row.sitename,jdbcType=LONGVARCHAR},
      sitelink = #{row.sitelink,jdbcType=LONGVARCHAR},
      in_site_link = #{row.inSiteLink,jdbcType=LONGVARCHAR},
      contact_name = #{row.contactName,jdbcType=LONGVARCHAR},
      remarks = #{row.remarks,jdbcType=LONGVARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update core_site_friendly_link
    set id = #{row.id,jdbcType=BIGINT},
      is_delete = #{row.isDelete,jdbcType=BIT},
      addtime = #{row.addtime,jdbcType=TIMESTAMP},
      audit_pass = #{row.auditPass,jdbcType=BIT},
      link_type = #{row.linkType,jdbcType=INTEGER},
      contact_email = #{row.contactEmail,jdbcType=VARCHAR},
      contact_qq = #{row.contactQq,jdbcType=VARCHAR},
      order_id = #{row.orderId,jdbcType=INTEGER}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="net.renfei.common.core.repositories.entity.CoreSiteFriendlyLinkWithBLOBs">
    update core_site_friendly_link
    <set>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditPass != null">
        audit_pass = #{auditPass,jdbcType=BIT},
      </if>
      <if test="linkType != null">
        link_type = #{linkType,jdbcType=INTEGER},
      </if>
      <if test="contactEmail != null">
        contact_email = #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="contactQq != null">
        contact_qq = #{contactQq,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="sitename != null">
        sitename = #{sitename,jdbcType=LONGVARCHAR},
      </if>
      <if test="sitelink != null">
        sitelink = #{sitelink,jdbcType=LONGVARCHAR},
      </if>
      <if test="inSiteLink != null">
        in_site_link = #{inSiteLink,jdbcType=LONGVARCHAR},
      </if>
      <if test="contactName != null">
        contact_name = #{contactName,jdbcType=LONGVARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="net.renfei.common.core.repositories.entity.CoreSiteFriendlyLinkWithBLOBs">
    update core_site_friendly_link
    set is_delete = #{isDelete,jdbcType=BIT},
      addtime = #{addtime,jdbcType=TIMESTAMP},
      audit_pass = #{auditPass,jdbcType=BIT},
      link_type = #{linkType,jdbcType=INTEGER},
      contact_email = #{contactEmail,jdbcType=VARCHAR},
      contact_qq = #{contactQq,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=INTEGER},
      sitename = #{sitename,jdbcType=LONGVARCHAR},
      sitelink = #{sitelink,jdbcType=LONGVARCHAR},
      in_site_link = #{inSiteLink,jdbcType=LONGVARCHAR},
      contact_name = #{contactName,jdbcType=LONGVARCHAR},
      remarks = #{remarks,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.renfei.common.core.repositories.entity.CoreSiteFriendlyLink">
    update core_site_friendly_link
    set is_delete = #{isDelete,jdbcType=BIT},
      addtime = #{addtime,jdbcType=TIMESTAMP},
      audit_pass = #{auditPass,jdbcType=BIT},
      link_type = #{linkType,jdbcType=INTEGER},
      contact_email = #{contactEmail,jdbcType=VARCHAR},
      contact_qq = #{contactQq,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>