<table border="0" cellpadding="0" cellspacing="0" align="center"
       style="border-collapse:collapse;border-spacing:0;width:742px">
    <tbody>
    <tr>
        <td style="width:40px"></td>
        <td><img width="42" height="42" alt="Apple"
                 src="https://cdn.renfei.net/Logo/RF.svg"
                 border="0" style="border:none;padding:0;margin:0"></td>
        <td align="right"
            style="font-size:32px;font-weight:300;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:rgb(153,153,153)">
            The RenFei Blog
        </td>
        <td style="width:40px"></td>
    </tr>
    <tr height="20">
        <td colspan="4"></td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td colspan="4" align="center">
            <table border="0" cellpadding="0" cellspacing="0" align="left" width="100%"
                   style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;border-collapse:collapse;border-spacing:0">
                <tbody>
                <tr>
                    <td style="width:20px"></td>
                    <td align="left"
                        style="border-top:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;padding-top:40px;padding-bottom:60px">
                        Dear ${NAME},
                        ${CONTENT}
                        <p>Regards,<br>RENFEI.NET</p>
                        <p>${DATETIME}</p>
                    </td>
                    <td style="width:20px"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr style="height:50px">
        <td colspan="4"></td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2" align="center"
            style="font-size:12px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:rgb(153,153,153)">
            <img width="26" height="26" border="0" alt="Apple"
                 src="https://cdn.renfei.net/Logo/RF.svg"
                 style="border:none;padding:0;margin:0">
        </td>
        <td></td>
    </tr>
    <tr height="8">
        <td colspan="4"></td>
    </tr>
    <tr height="25">
        <td colspan="4"></td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2" align="center"
            style="font-size:12px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:rgb(153,153,153)">
            Copyright © ${YEAR} RENFEI.NET <br> All rights reserved
        </td>
        <td></td>
    </tr>
    <tr height="25">
        <td colspan="4" height="30"></td>
    </tr>
    </tbody>
</table>