html,
body,
body > div:first-child,
div#__next,
div#__next > div {
    height: 100%;
}

html,
body {
    padding: 0;
    margin: 0;
    color: #1d1d1f;
    background-color: #fff;
    font-family: -apple-system, Helvetica, Tahoma, Arial, Hiragino Sans GB, Hiragino Sans GB W3, Microsoft YaHei, STXihei, STHeiti, Heiti, SimSun, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.renfeid-content {
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 max(22px, env(safe-area-inset-right)) 0 max(22px, env(safe-area-inset-left));
}

.visuallyhidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}

.top-bar-wrapper {
    background: #444;
    color: #a8a8aa;
    height: 40px;
    line-height: 40px;
}

.renfeid-nav {
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #f5f5f7;
    background-color: rgba(0, 0, 0, 0.8);
}

.section-wrapper {
    color: #1d1d1f;
    background-color: #fbfbfd;
    padding: 12px 0;
    text-align: center;
}

.nav-menu-mobile {
    display: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

.nav-menu-mobile li {
    list-style: none;
}

.nav-menu-mobile li a {
    padding: 0 8px;
    font-size: 12px;
    font-weight: 400;
    color: #f5f5f7;
    opacity: .8;
}

.nav-menu-mobile li span {
    vertical-align: middle;
}

.nav-menu {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.nav-menu li {
    list-style: none;
}

.nav-menu li a {
    padding: 0 8px;
    font-size: 12px;
    font-weight: 400;
    color: #f5f5f7;
    opacity: .8;
}

.nav-menu li a:hover {
    color: #fff;
    opacity: 1;
}

.nav-menu li span {
    vertical-align: middle;
}

.footer-menu {
    font-size: 12px;
    padding-bottom: 40px;
}

.footer-menu-title {
    color: #1d1d1f !important;
    font-size: 14px !important;
    line-height: 1.33337 !important;
    font-weight: 600 !important;
    margin-bottom: 0.8em !important;
}

.footer-menu ul {
    list-style: none;
    padding: 0;
}

.footer-menu ul li {
    display: block;
    pointer-events: auto;
    margin-bottom: 0.8em;
}

.footer-menu ul li a {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 100;
}

.renfeid_card {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    padding: 1.25rem;
    margin: 10px 0;
}

.renfeid-comment{
    margin-top: 20px;
    padding-top: 0;
    padding-left: 10px;
    border-left: 5px solid #f5f5f5;
}

@media only screen and (max-width: 833px) {
    .nav-menu-mobile {
        display: flex;
    }

    .nav-menu {
        display: none;
    }
}
