.container {}

.banner_wrapper {
    background-color: #ffffff;
}

.banner {
    max-width: 1440px;
    margin: auto;
    padding: 0 0 30px 0;
}

.banner_col {}

.banner_img_wrapper {
    height: 0;
    margin-left: 0;
    overflow: hidden;
    padding-top: 55.063%;
    transform: translateZ(0);
    border-radius: 0 0 16px 16px;
}

.banner_img {
    display: block;
    height: min(100%, 505px);
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    position: absolute;
    top: 0;
    width: 100%;
}

.banner_content_wrapper {
    background: #fff;
    box-shadow: 0 0 32px rgb(0 0 0 / 11%);
    border-radius: 16px;
    margin: 32px 0 0 -60px;
    padding: clamp(36px, 3.33vw, 48px);
    word-break: break-all;
}

.banner_content_h2 {
    font-size: 26px !important;
}

.banner_content_h3 {
    font-size: 24px !important;
}

.banner_content_h4 {
    font-size: 18px !important;
}

.banner_content_p {
    font-size: 16px !important;
    line-height: 28px !important;
}

.banner_content_icon {
    display: flex;
    justify-content: flex-end;
    margin: 28px 10px 0 0;
}

.posts_top5_left {
    padding: 0 20px 0 0;
}

.posts_top5_right {
    padding: 0 0 0 20px;
}

.posts_img_radius {
    border-radius: 16px 16px 16px 16px;
}


.posts_more_wrapper {
    padding: 5px 10px;
}

.posts_more {
    border: 1px solid #dadce0;
    border-radius: 8px;
    padding: 10px 15px;
}

.main {
    background-color: #ffffff;
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 833px) {
    .banner_col {
        width: 100%;
        max-width: 100%;
        flex: initial;
    }

    .banner_content_wrapper {
        margin: -14px 32px 0;
        padding: 36px;
    }

    .posts_top5_left {
        padding: 0 0 20px 0;
        max-width: 100%;
        flex: initial;
    }

    .posts_top5_right {
        padding: 20px 0 0 0;
        max-width: 100%;
        flex: initial;
    }
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}