.container {
}

.banner_wrapper{
    background-color: #ffffff;
}
.banner {
    max-width: 1440px;
    margin: auto;
    padding: 0 0 30px 0;
}

.banner_col{

}

.banner_img_wrapper {
    height: 0;
    margin-left: 0;
    overflow: hidden;
    padding-top: 55.063%;
    transform: translateZ(0);
    border-radius: 0 0 16px 16px;
}

.banner_img {
    display: block;
    height: min(100%, 505px);
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    position: absolute;
    top: 0;
    width: 100%;
}

.banner_content_wrapper {
    background: #fff;
    box-shadow: 0 0 32px rgb(0 0 0 / 11%);
    border-radius: 16px;
    margin: 32px 0 0 -60px;
    padding: clamp(36px, 3.33vw, 48px);
    word-break: break-all;
}

.banner_content_h2 {
    font-size: clamp(20px, 3.645vw, 28px);
}

.banner_content_p{
    font-size: clamp(14px,1.11vw,16px);
    line-height: clamp(24px,1.94vw,28px);
}

.banner_content_icon {
    display: flex;
    justify-content: end;
    margin: 28px 10px 0 0;
}

.posts_top5{
    padding: 30px 0 30px 0;
    border-bottom: 1px solid #bdc1c6;
}

.main {
    background-color: #ffffff;
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.title a {
    color: #0070f3;
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title,
.description {
    text-align: center;
}

.description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
}

.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
    color: #0070f3;
    border-color: #0070f3;
}

.card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.logo {
    height: 1em;
    margin-left: 0.5rem;
}

@media only screen and (max-width: 833px){
    .banner_col{
        width: 100%;
        max-width: 100%;
        flex: initial;
    }
    .banner_content_wrapper {
        margin: -14px 32px 0;
        padding: 36px;
    }
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}
