<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.renfei.pro.discuz.repositories.DiscuzCommonUsergroupDOMapper">
  <resultMap id="BaseResultMap" type="net.renfei.pro.discuz.repositories.entity.DiscuzCommonUsergroupDO">
    <id column="groupid" jdbcType="SMALLINT" property="groupid" />
    <result column="radminid" jdbcType="TINYINT" property="radminid" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="system" jdbcType="VARCHAR" property="system" />
    <result column="grouptitle" jdbcType="VARCHAR" property="grouptitle" />
    <result column="creditshigher" jdbcType="INTEGER" property="creditshigher" />
    <result column="creditslower" jdbcType="INTEGER" property="creditslower" />
    <result column="stars" jdbcType="TINYINT" property="stars" />
    <result column="color" jdbcType="VARCHAR" property="color" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="allowvisit" jdbcType="BIT" property="allowvisit" />
    <result column="allowsendpm" jdbcType="BIT" property="allowsendpm" />
    <result column="allowinvite" jdbcType="BIT" property="allowinvite" />
    <result column="allowmailinvite" jdbcType="BIT" property="allowmailinvite" />
    <result column="maxinvitenum" jdbcType="TINYINT" property="maxinvitenum" />
    <result column="inviteprice" jdbcType="SMALLINT" property="inviteprice" />
    <result column="maxinviteday" jdbcType="SMALLINT" property="maxinviteday" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    groupid, radminid, type, system, grouptitle, creditshigher, creditslower, stars, 
    color, icon, allowvisit, allowsendpm, allowinvite, allowmailinvite, maxinvitenum, 
    inviteprice, maxinviteday
  </sql>
  <select id="selectByExample" parameterType="net.renfei.pro.discuz.repositories.entity.DiscuzCommonUsergroupDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bbs_common_usergroup
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bbs_common_usergroup
    where groupid = #{groupid,jdbcType=SMALLINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from bbs_common_usergroup
    where groupid = #{groupid,jdbcType=SMALLINT}
  </delete>
  <delete id="deleteByExample" parameterType="net.renfei.pro.discuz.repositories.entity.DiscuzCommonUsergroupDOExample">
    delete from bbs_common_usergroup
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="net.renfei.pro.discuz.repositories.entity.DiscuzCommonUsergroupDO">
    insert into bbs_common_usergroup (groupid, radminid, type, 
      system, grouptitle, creditshigher, 
      creditslower, stars, color, 
      icon, allowvisit, allowsendpm, 
      allowinvite, allowmailinvite, maxinvitenum, 
      inviteprice, maxinviteday)
    values (#{groupid,jdbcType=SMALLINT}, #{radminid,jdbcType=TINYINT}, #{type,jdbcType=CHAR}, 
      #{system,jdbcType=VARCHAR}, #{grouptitle,jdbcType=VARCHAR}, #{creditshigher,jdbcType=INTEGER}, 
      #{creditslower,jdbcType=INTEGER}, #{stars,jdbcType=TINYINT}, #{color,jdbcType=VARCHAR}, 
      #{icon,jdbcType=VARCHAR}, #{allowvisit,jdbcType=BIT}, #{allowsendpm,jdbcType=BIT}, 
      #{allowinvite,jdbcType=BIT}, #{allowmailinvite,jdbcType=BIT}, #{maxinvitenum,jdbcType=TINYINT}, 
      #{inviteprice,jdbcType=SMALLINT}, #{maxinviteday,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="net.renfei.pro.discuz.repositories.entity.DiscuzCommonUsergroupDO">
    insert into bbs_common_usergroup
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="groupid != null">
        groupid,
      </if>
      <if test="radminid != null">
        radminid,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="system != null">
        system,
      </if>
      <if test="grouptitle != null">
        grouptitle,
      </if>
      <if test="creditshigher != null">
        creditshigher,
      </if>
      <if test="creditslower != null">
        creditslower,
      </if>
      <if test="stars != null">
        stars,
      </if>
      <if test="color != null">
        color,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="allowvisit != null">
        allowvisit,
      </if>
      <if test="allowsendpm != null">
        allowsendpm,
      </if>
      <if test="allowinvite != null">
        allowinvite,
      </if>
      <if test="allowmailinvite != null">
        allowmailinvite,
      </if>
      <if test="maxinvitenum != null">
        maxinvitenum,
      </if>
      <if test="inviteprice != null">
        inviteprice,
      </if>
      <if test="maxinviteday != null">
        maxinviteday,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="groupid != null">
        #{groupid,jdbcType=SMALLINT},
      </if>
      <if test="radminid != null">
        #{radminid,jdbcType=TINYINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=CHAR},
      </if>
      <if test="system != null">
        #{system,jdbcType=VARCHAR},
      </if>
      <if test="grouptitle != null">
        #{grouptitle,jdbcType=VARCHAR},
      </if>
      <if test="creditshigher != null">
        #{creditshigher,jdbcType=INTEGER},
      </if>
      <if test="creditslower != null">
        #{creditslower,jdbcType=INTEGER},
      </if>
      <if test="stars != null">
        #{stars,jdbcType=TINYINT},
      </if>
      <if test="color != null">
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="allowvisit != null">
        #{allowvisit,jdbcType=BIT},
      </if>
      <if test="allowsendpm != null">
        #{allowsendpm,jdbcType=BIT},
      </if>
      <if test="allowinvite != null">
        #{allowinvite,jdbcType=BIT},
      </if>
      <if test="allowmailinvite != null">
        #{allowmailinvite,jdbcType=BIT},
      </if>
      <if test="maxinvitenum != null">
        #{maxinvitenum,jdbcType=TINYINT},
      </if>
      <if test="inviteprice != null">
        #{inviteprice,jdbcType=SMALLINT},
      </if>
      <if test="maxinviteday != null">
        #{maxinviteday,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.renfei.pro.discuz.repositories.entity.DiscuzCommonUsergroupDOExample" resultType="java.lang.Long">
    select count(*) from bbs_common_usergroup
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update bbs_common_usergroup
    <set>
      <if test="record.groupid != null">
        groupid = #{record.groupid,jdbcType=SMALLINT},
      </if>
      <if test="record.radminid != null">
        radminid = #{record.radminid,jdbcType=TINYINT},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=CHAR},
      </if>
      <if test="record.system != null">
        system = #{record.system,jdbcType=VARCHAR},
      </if>
      <if test="record.grouptitle != null">
        grouptitle = #{record.grouptitle,jdbcType=VARCHAR},
      </if>
      <if test="record.creditshigher != null">
        creditshigher = #{record.creditshigher,jdbcType=INTEGER},
      </if>
      <if test="record.creditslower != null">
        creditslower = #{record.creditslower,jdbcType=INTEGER},
      </if>
      <if test="record.stars != null">
        stars = #{record.stars,jdbcType=TINYINT},
      </if>
      <if test="record.color != null">
        color = #{record.color,jdbcType=VARCHAR},
      </if>
      <if test="record.icon != null">
        icon = #{record.icon,jdbcType=VARCHAR},
      </if>
      <if test="record.allowvisit != null">
        allowvisit = #{record.allowvisit,jdbcType=BIT},
      </if>
      <if test="record.allowsendpm != null">
        allowsendpm = #{record.allowsendpm,jdbcType=BIT},
      </if>
      <if test="record.allowinvite != null">
        allowinvite = #{record.allowinvite,jdbcType=BIT},
      </if>
      <if test="record.allowmailinvite != null">
        allowmailinvite = #{record.allowmailinvite,jdbcType=BIT},
      </if>
      <if test="record.maxinvitenum != null">
        maxinvitenum = #{record.maxinvitenum,jdbcType=TINYINT},
      </if>
      <if test="record.inviteprice != null">
        inviteprice = #{record.inviteprice,jdbcType=SMALLINT},
      </if>
      <if test="record.maxinviteday != null">
        maxinviteday = #{record.maxinviteday,jdbcType=SMALLINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update bbs_common_usergroup
    set groupid = #{record.groupid,jdbcType=SMALLINT},
      radminid = #{record.radminid,jdbcType=TINYINT},
      type = #{record.type,jdbcType=CHAR},
      system = #{record.system,jdbcType=VARCHAR},
      grouptitle = #{record.grouptitle,jdbcType=VARCHAR},
      creditshigher = #{record.creditshigher,jdbcType=INTEGER},
      creditslower = #{record.creditslower,jdbcType=INTEGER},
      stars = #{record.stars,jdbcType=TINYINT},
      color = #{record.color,jdbcType=VARCHAR},
      icon = #{record.icon,jdbcType=VARCHAR},
      allowvisit = #{record.allowvisit,jdbcType=BIT},
      allowsendpm = #{record.allowsendpm,jdbcType=BIT},
      allowinvite = #{record.allowinvite,jdbcType=BIT},
      allowmailinvite = #{record.allowmailinvite,jdbcType=BIT},
      maxinvitenum = #{record.maxinvitenum,jdbcType=TINYINT},
      inviteprice = #{record.inviteprice,jdbcType=SMALLINT},
      maxinviteday = #{record.maxinviteday,jdbcType=SMALLINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="net.renfei.pro.discuz.repositories.entity.DiscuzCommonUsergroupDO">
    update bbs_common_usergroup
    <set>
      <if test="radminid != null">
        radminid = #{radminid,jdbcType=TINYINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="system != null">
        system = #{system,jdbcType=VARCHAR},
      </if>
      <if test="grouptitle != null">
        grouptitle = #{grouptitle,jdbcType=VARCHAR},
      </if>
      <if test="creditshigher != null">
        creditshigher = #{creditshigher,jdbcType=INTEGER},
      </if>
      <if test="creditslower != null">
        creditslower = #{creditslower,jdbcType=INTEGER},
      </if>
      <if test="stars != null">
        stars = #{stars,jdbcType=TINYINT},
      </if>
      <if test="color != null">
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="allowvisit != null">
        allowvisit = #{allowvisit,jdbcType=BIT},
      </if>
      <if test="allowsendpm != null">
        allowsendpm = #{allowsendpm,jdbcType=BIT},
      </if>
      <if test="allowinvite != null">
        allowinvite = #{allowinvite,jdbcType=BIT},
      </if>
      <if test="allowmailinvite != null">
        allowmailinvite = #{allowmailinvite,jdbcType=BIT},
      </if>
      <if test="maxinvitenum != null">
        maxinvitenum = #{maxinvitenum,jdbcType=TINYINT},
      </if>
      <if test="inviteprice != null">
        inviteprice = #{inviteprice,jdbcType=SMALLINT},
      </if>
      <if test="maxinviteday != null">
        maxinviteday = #{maxinviteday,jdbcType=SMALLINT},
      </if>
    </set>
    where groupid = #{groupid,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.renfei.pro.discuz.repositories.entity.DiscuzCommonUsergroupDO">
    update bbs_common_usergroup
    set radminid = #{radminid,jdbcType=TINYINT},
      type = #{type,jdbcType=CHAR},
      system = #{system,jdbcType=VARCHAR},
      grouptitle = #{grouptitle,jdbcType=VARCHAR},
      creditshigher = #{creditshigher,jdbcType=INTEGER},
      creditslower = #{creditslower,jdbcType=INTEGER},
      stars = #{stars,jdbcType=TINYINT},
      color = #{color,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      allowvisit = #{allowvisit,jdbcType=BIT},
      allowsendpm = #{allowsendpm,jdbcType=BIT},
      allowinvite = #{allowinvite,jdbcType=BIT},
      allowmailinvite = #{allowmailinvite,jdbcType=BIT},
      maxinvitenum = #{maxinvitenum,jdbcType=TINYINT},
      inviteprice = #{inviteprice,jdbcType=SMALLINT},
      maxinviteday = #{maxinviteday,jdbcType=SMALLINT}
    where groupid = #{groupid,jdbcType=SMALLINT}
  </update>
</mapper>