* {
  font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

hr{
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}

.system-bar-wrapper {
  background: #444;
}

.renfeid-app-bar{
  background: rgba(0,0,0,0.8)!important;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.footer_image{
  height: 368px;
  z-index: 1;
  position: absolute;
  width: 100%;
  top: -293px;
  pointer-events: none;
}

.foot-list{
  padding: 0!important;
}

.foot-list-right li{
  float: right;
}

.foot-list-left li{
  float: left;
}

.foot-list li{
  list-style: none;
  padding: 0 5px;
}
.foot-list li a{
  color: #6c757d;
  font-size: 12px;
  text-decoration: none;
}
.foot-list li a:hover{
  text-decoration: underline;
}

