<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.renfei.cms.repositories.CmsPostsMapper">
  <resultMap id="BaseResultMap" type="net.renfei.cms.repositories.entity.CmsPosts">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="post_author_username" jdbcType="VARCHAR" property="postAuthorUsername" />
    <result column="post_author" jdbcType="BIGINT" property="postAuthor" />
    <result column="post_date" jdbcType="TIMESTAMP" property="postDate" />
    <result column="post_status" jdbcType="VARCHAR" property="postStatus" />
    <result column="post_views" jdbcType="BIGINT" property="postViews" />
    <result column="comment_status" jdbcType="VARCHAR" property="commentStatus" />
    <result column="post_password" jdbcType="VARCHAR" property="postPassword" />
    <result column="post_modified" jdbcType="TIMESTAMP" property="postModified" />
    <result column="post_modified_username" jdbcType="VARCHAR" property="postModifiedUsername" />
    <result column="post_modified_user" jdbcType="BIGINT" property="postModifiedUser" />
    <result column="post_parent" jdbcType="BIGINT" property="postParent" />
    <result column="version_number" jdbcType="INTEGER" property="versionNumber" />
    <result column="thumbs_up" jdbcType="BIGINT" property="thumbsUp" />
    <result column="thumbs_down" jdbcType="BIGINT" property="thumbsDown" />
    <result column="avg_views" jdbcType="DOUBLE" property="avgViews" />
    <result column="avg_comment" jdbcType="DOUBLE" property="avgComment" />
    <result column="page_rank" jdbcType="DOUBLE" property="pageRank" />
    <result column="secret_level" jdbcType="INTEGER" property="secretLevel" />
    <result column="is_original" jdbcType="BIT" property="isOriginal" />
    <result column="post_title" jdbcType="VARCHAR" property="postTitle" />
    <result column="post_keyword" jdbcType="VARCHAR" property="postKeyword" />
    <result column="post_excerpt" jdbcType="VARCHAR" property="postExcerpt" />
    <result column="source_name" jdbcType="VARCHAR" property="sourceName" />
    <result column="source_url" jdbcType="VARCHAR" property="sourceUrl" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="net.renfei.cms.repositories.entity.CmsPostsWithBLOBs">
    <result column="featured_image" jdbcType="LONGVARCHAR" property="featuredImage" />
    <result column="post_content" jdbcType="LONGVARCHAR" property="postContent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, category_id, post_author_username, post_author, post_date, post_status, post_views, 
    comment_status, post_password, post_modified, post_modified_username, post_modified_user, 
    post_parent, version_number, thumbs_up, thumbs_down, avg_views, avg_comment, page_rank, 
    secret_level, is_original, post_title, post_keyword, post_excerpt, source_name, source_url
  </sql>
  <sql id="Blob_Column_List">
    featured_image, post_content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="net.renfei.cms.repositories.entity.CmsPostsExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cms_posts
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="net.renfei.cms.repositories.entity.CmsPostsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cms_posts
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cms_posts
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cms_posts
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="net.renfei.cms.repositories.entity.CmsPostsExample">
    delete from cms_posts
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="net.renfei.cms.repositories.entity.CmsPostsWithBLOBs">
    insert into cms_posts (id, category_id, post_author_username, 
      post_author, post_date, post_status, 
      post_views, comment_status, post_password, 
      post_modified, post_modified_username, post_modified_user, 
      post_parent, version_number, thumbs_up, 
      thumbs_down, avg_views, avg_comment, 
      page_rank, secret_level, is_original, 
      post_title, post_keyword, post_excerpt, 
      source_name, source_url, featured_image, 
      post_content)
    values (#{id,jdbcType=BIGINT}, #{categoryId,jdbcType=BIGINT}, #{postAuthorUsername,jdbcType=VARCHAR}, 
      #{postAuthor,jdbcType=BIGINT}, #{postDate,jdbcType=TIMESTAMP}, #{postStatus,jdbcType=VARCHAR}, 
      #{postViews,jdbcType=BIGINT}, #{commentStatus,jdbcType=VARCHAR}, #{postPassword,jdbcType=VARCHAR}, 
      #{postModified,jdbcType=TIMESTAMP}, #{postModifiedUsername,jdbcType=VARCHAR}, #{postModifiedUser,jdbcType=BIGINT}, 
      #{postParent,jdbcType=BIGINT}, #{versionNumber,jdbcType=INTEGER}, #{thumbsUp,jdbcType=BIGINT}, 
      #{thumbsDown,jdbcType=BIGINT}, #{avgViews,jdbcType=DOUBLE}, #{avgComment,jdbcType=DOUBLE}, 
      #{pageRank,jdbcType=DOUBLE}, #{secretLevel,jdbcType=INTEGER}, #{isOriginal,jdbcType=BIT}, 
      #{postTitle,jdbcType=VARCHAR}, #{postKeyword,jdbcType=VARCHAR}, #{postExcerpt,jdbcType=VARCHAR}, 
      #{sourceName,jdbcType=VARCHAR}, #{sourceUrl,jdbcType=VARCHAR}, #{featuredImage,jdbcType=LONGVARCHAR}, 
      #{postContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="net.renfei.cms.repositories.entity.CmsPostsWithBLOBs">
    insert into cms_posts
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="postAuthorUsername != null">
        post_author_username,
      </if>
      <if test="postAuthor != null">
        post_author,
      </if>
      <if test="postDate != null">
        post_date,
      </if>
      <if test="postStatus != null">
        post_status,
      </if>
      <if test="postViews != null">
        post_views,
      </if>
      <if test="commentStatus != null">
        comment_status,
      </if>
      <if test="postPassword != null">
        post_password,
      </if>
      <if test="postModified != null">
        post_modified,
      </if>
      <if test="postModifiedUsername != null">
        post_modified_username,
      </if>
      <if test="postModifiedUser != null">
        post_modified_user,
      </if>
      <if test="postParent != null">
        post_parent,
      </if>
      <if test="versionNumber != null">
        version_number,
      </if>
      <if test="thumbsUp != null">
        thumbs_up,
      </if>
      <if test="thumbsDown != null">
        thumbs_down,
      </if>
      <if test="avgViews != null">
        avg_views,
      </if>
      <if test="avgComment != null">
        avg_comment,
      </if>
      <if test="pageRank != null">
        page_rank,
      </if>
      <if test="secretLevel != null">
        secret_level,
      </if>
      <if test="isOriginal != null">
        is_original,
      </if>
      <if test="postTitle != null">
        post_title,
      </if>
      <if test="postKeyword != null">
        post_keyword,
      </if>
      <if test="postExcerpt != null">
        post_excerpt,
      </if>
      <if test="sourceName != null">
        source_name,
      </if>
      <if test="sourceUrl != null">
        source_url,
      </if>
      <if test="featuredImage != null">
        featured_image,
      </if>
      <if test="postContent != null">
        post_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="postAuthorUsername != null">
        #{postAuthorUsername,jdbcType=VARCHAR},
      </if>
      <if test="postAuthor != null">
        #{postAuthor,jdbcType=BIGINT},
      </if>
      <if test="postDate != null">
        #{postDate,jdbcType=TIMESTAMP},
      </if>
      <if test="postStatus != null">
        #{postStatus,jdbcType=VARCHAR},
      </if>
      <if test="postViews != null">
        #{postViews,jdbcType=BIGINT},
      </if>
      <if test="commentStatus != null">
        #{commentStatus,jdbcType=VARCHAR},
      </if>
      <if test="postPassword != null">
        #{postPassword,jdbcType=VARCHAR},
      </if>
      <if test="postModified != null">
        #{postModified,jdbcType=TIMESTAMP},
      </if>
      <if test="postModifiedUsername != null">
        #{postModifiedUsername,jdbcType=VARCHAR},
      </if>
      <if test="postModifiedUser != null">
        #{postModifiedUser,jdbcType=BIGINT},
      </if>
      <if test="postParent != null">
        #{postParent,jdbcType=BIGINT},
      </if>
      <if test="versionNumber != null">
        #{versionNumber,jdbcType=INTEGER},
      </if>
      <if test="thumbsUp != null">
        #{thumbsUp,jdbcType=BIGINT},
      </if>
      <if test="thumbsDown != null">
        #{thumbsDown,jdbcType=BIGINT},
      </if>
      <if test="avgViews != null">
        #{avgViews,jdbcType=DOUBLE},
      </if>
      <if test="avgComment != null">
        #{avgComment,jdbcType=DOUBLE},
      </if>
      <if test="pageRank != null">
        #{pageRank,jdbcType=DOUBLE},
      </if>
      <if test="secretLevel != null">
        #{secretLevel,jdbcType=INTEGER},
      </if>
      <if test="isOriginal != null">
        #{isOriginal,jdbcType=BIT},
      </if>
      <if test="postTitle != null">
        #{postTitle,jdbcType=VARCHAR},
      </if>
      <if test="postKeyword != null">
        #{postKeyword,jdbcType=VARCHAR},
      </if>
      <if test="postExcerpt != null">
        #{postExcerpt,jdbcType=VARCHAR},
      </if>
      <if test="sourceName != null">
        #{sourceName,jdbcType=VARCHAR},
      </if>
      <if test="sourceUrl != null">
        #{sourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="featuredImage != null">
        #{featuredImage,jdbcType=LONGVARCHAR},
      </if>
      <if test="postContent != null">
        #{postContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.renfei.cms.repositories.entity.CmsPostsExample" resultType="java.lang.Long">
    select count(*) from cms_posts
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cms_posts
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=BIGINT},
      </if>
      <if test="row.categoryId != null">
        category_id = #{row.categoryId,jdbcType=BIGINT},
      </if>
      <if test="row.postAuthorUsername != null">
        post_author_username = #{row.postAuthorUsername,jdbcType=VARCHAR},
      </if>
      <if test="row.postAuthor != null">
        post_author = #{row.postAuthor,jdbcType=BIGINT},
      </if>
      <if test="row.postDate != null">
        post_date = #{row.postDate,jdbcType=TIMESTAMP},
      </if>
      <if test="row.postStatus != null">
        post_status = #{row.postStatus,jdbcType=VARCHAR},
      </if>
      <if test="row.postViews != null">
        post_views = #{row.postViews,jdbcType=BIGINT},
      </if>
      <if test="row.commentStatus != null">
        comment_status = #{row.commentStatus,jdbcType=VARCHAR},
      </if>
      <if test="row.postPassword != null">
        post_password = #{row.postPassword,jdbcType=VARCHAR},
      </if>
      <if test="row.postModified != null">
        post_modified = #{row.postModified,jdbcType=TIMESTAMP},
      </if>
      <if test="row.postModifiedUsername != null">
        post_modified_username = #{row.postModifiedUsername,jdbcType=VARCHAR},
      </if>
      <if test="row.postModifiedUser != null">
        post_modified_user = #{row.postModifiedUser,jdbcType=BIGINT},
      </if>
      <if test="row.postParent != null">
        post_parent = #{row.postParent,jdbcType=BIGINT},
      </if>
      <if test="row.versionNumber != null">
        version_number = #{row.versionNumber,jdbcType=INTEGER},
      </if>
      <if test="row.thumbsUp != null">
        thumbs_up = #{row.thumbsUp,jdbcType=BIGINT},
      </if>
      <if test="row.thumbsDown != null">
        thumbs_down = #{row.thumbsDown,jdbcType=BIGINT},
      </if>
      <if test="row.avgViews != null">
        avg_views = #{row.avgViews,jdbcType=DOUBLE},
      </if>
      <if test="row.avgComment != null">
        avg_comment = #{row.avgComment,jdbcType=DOUBLE},
      </if>
      <if test="row.pageRank != null">
        page_rank = #{row.pageRank,jdbcType=DOUBLE},
      </if>
      <if test="row.secretLevel != null">
        secret_level = #{row.secretLevel,jdbcType=INTEGER},
      </if>
      <if test="row.isOriginal != null">
        is_original = #{row.isOriginal,jdbcType=BIT},
      </if>
      <if test="row.postTitle != null">
        post_title = #{row.postTitle,jdbcType=VARCHAR},
      </if>
      <if test="row.postKeyword != null">
        post_keyword = #{row.postKeyword,jdbcType=VARCHAR},
      </if>
      <if test="row.postExcerpt != null">
        post_excerpt = #{row.postExcerpt,jdbcType=VARCHAR},
      </if>
      <if test="row.sourceName != null">
        source_name = #{row.sourceName,jdbcType=VARCHAR},
      </if>
      <if test="row.sourceUrl != null">
        source_url = #{row.sourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="row.featuredImage != null">
        featured_image = #{row.featuredImage,jdbcType=LONGVARCHAR},
      </if>
      <if test="row.postContent != null">
        post_content = #{row.postContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update cms_posts
    set id = #{row.id,jdbcType=BIGINT},
      category_id = #{row.categoryId,jdbcType=BIGINT},
      post_author_username = #{row.postAuthorUsername,jdbcType=VARCHAR},
      post_author = #{row.postAuthor,jdbcType=BIGINT},
      post_date = #{row.postDate,jdbcType=TIMESTAMP},
      post_status = #{row.postStatus,jdbcType=VARCHAR},
      post_views = #{row.postViews,jdbcType=BIGINT},
      comment_status = #{row.commentStatus,jdbcType=VARCHAR},
      post_password = #{row.postPassword,jdbcType=VARCHAR},
      post_modified = #{row.postModified,jdbcType=TIMESTAMP},
      post_modified_username = #{row.postModifiedUsername,jdbcType=VARCHAR},
      post_modified_user = #{row.postModifiedUser,jdbcType=BIGINT},
      post_parent = #{row.postParent,jdbcType=BIGINT},
      version_number = #{row.versionNumber,jdbcType=INTEGER},
      thumbs_up = #{row.thumbsUp,jdbcType=BIGINT},
      thumbs_down = #{row.thumbsDown,jdbcType=BIGINT},
      avg_views = #{row.avgViews,jdbcType=DOUBLE},
      avg_comment = #{row.avgComment,jdbcType=DOUBLE},
      page_rank = #{row.pageRank,jdbcType=DOUBLE},
      secret_level = #{row.secretLevel,jdbcType=INTEGER},
      is_original = #{row.isOriginal,jdbcType=BIT},
      post_title = #{row.postTitle,jdbcType=VARCHAR},
      post_keyword = #{row.postKeyword,jdbcType=VARCHAR},
      post_excerpt = #{row.postExcerpt,jdbcType=VARCHAR},
      source_name = #{row.sourceName,jdbcType=VARCHAR},
      source_url = #{row.sourceUrl,jdbcType=VARCHAR},
      featured_image = #{row.featuredImage,jdbcType=LONGVARCHAR},
      post_content = #{row.postContent,jdbcType=LONGVARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cms_posts
    set id = #{row.id,jdbcType=BIGINT},
      category_id = #{row.categoryId,jdbcType=BIGINT},
      post_author_username = #{row.postAuthorUsername,jdbcType=VARCHAR},
      post_author = #{row.postAuthor,jdbcType=BIGINT},
      post_date = #{row.postDate,jdbcType=TIMESTAMP},
      post_status = #{row.postStatus,jdbcType=VARCHAR},
      post_views = #{row.postViews,jdbcType=BIGINT},
      comment_status = #{row.commentStatus,jdbcType=VARCHAR},
      post_password = #{row.postPassword,jdbcType=VARCHAR},
      post_modified = #{row.postModified,jdbcType=TIMESTAMP},
      post_modified_username = #{row.postModifiedUsername,jdbcType=VARCHAR},
      post_modified_user = #{row.postModifiedUser,jdbcType=BIGINT},
      post_parent = #{row.postParent,jdbcType=BIGINT},
      version_number = #{row.versionNumber,jdbcType=INTEGER},
      thumbs_up = #{row.thumbsUp,jdbcType=BIGINT},
      thumbs_down = #{row.thumbsDown,jdbcType=BIGINT},
      avg_views = #{row.avgViews,jdbcType=DOUBLE},
      avg_comment = #{row.avgComment,jdbcType=DOUBLE},
      page_rank = #{row.pageRank,jdbcType=DOUBLE},
      secret_level = #{row.secretLevel,jdbcType=INTEGER},
      is_original = #{row.isOriginal,jdbcType=BIT},
      post_title = #{row.postTitle,jdbcType=VARCHAR},
      post_keyword = #{row.postKeyword,jdbcType=VARCHAR},
      post_excerpt = #{row.postExcerpt,jdbcType=VARCHAR},
      source_name = #{row.sourceName,jdbcType=VARCHAR},
      source_url = #{row.sourceUrl,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="net.renfei.cms.repositories.entity.CmsPostsWithBLOBs">
    update cms_posts
    <set>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="postAuthorUsername != null">
        post_author_username = #{postAuthorUsername,jdbcType=VARCHAR},
      </if>
      <if test="postAuthor != null">
        post_author = #{postAuthor,jdbcType=BIGINT},
      </if>
      <if test="postDate != null">
        post_date = #{postDate,jdbcType=TIMESTAMP},
      </if>
      <if test="postStatus != null">
        post_status = #{postStatus,jdbcType=VARCHAR},
      </if>
      <if test="postViews != null">
        post_views = #{postViews,jdbcType=BIGINT},
      </if>
      <if test="commentStatus != null">
        comment_status = #{commentStatus,jdbcType=VARCHAR},
      </if>
      <if test="postPassword != null">
        post_password = #{postPassword,jdbcType=VARCHAR},
      </if>
      <if test="postModified != null">
        post_modified = #{postModified,jdbcType=TIMESTAMP},
      </if>
      <if test="postModifiedUsername != null">
        post_modified_username = #{postModifiedUsername,jdbcType=VARCHAR},
      </if>
      <if test="postModifiedUser != null">
        post_modified_user = #{postModifiedUser,jdbcType=BIGINT},
      </if>
      <if test="postParent != null">
        post_parent = #{postParent,jdbcType=BIGINT},
      </if>
      <if test="versionNumber != null">
        version_number = #{versionNumber,jdbcType=INTEGER},
      </if>
      <if test="thumbsUp != null">
        thumbs_up = #{thumbsUp,jdbcType=BIGINT},
      </if>
      <if test="thumbsDown != null">
        thumbs_down = #{thumbsDown,jdbcType=BIGINT},
      </if>
      <if test="avgViews != null">
        avg_views = #{avgViews,jdbcType=DOUBLE},
      </if>
      <if test="avgComment != null">
        avg_comment = #{avgComment,jdbcType=DOUBLE},
      </if>
      <if test="pageRank != null">
        page_rank = #{pageRank,jdbcType=DOUBLE},
      </if>
      <if test="secretLevel != null">
        secret_level = #{secretLevel,jdbcType=INTEGER},
      </if>
      <if test="isOriginal != null">
        is_original = #{isOriginal,jdbcType=BIT},
      </if>
      <if test="postTitle != null">
        post_title = #{postTitle,jdbcType=VARCHAR},
      </if>
      <if test="postKeyword != null">
        post_keyword = #{postKeyword,jdbcType=VARCHAR},
      </if>
      <if test="postExcerpt != null">
        post_excerpt = #{postExcerpt,jdbcType=VARCHAR},
      </if>
      <if test="sourceName != null">
        source_name = #{sourceName,jdbcType=VARCHAR},
      </if>
      <if test="sourceUrl != null">
        source_url = #{sourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="featuredImage != null">
        featured_image = #{featuredImage,jdbcType=LONGVARCHAR},
      </if>
      <if test="postContent != null">
        post_content = #{postContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="net.renfei.cms.repositories.entity.CmsPostsWithBLOBs">
    update cms_posts
    set category_id = #{categoryId,jdbcType=BIGINT},
      post_author_username = #{postAuthorUsername,jdbcType=VARCHAR},
      post_author = #{postAuthor,jdbcType=BIGINT},
      post_date = #{postDate,jdbcType=TIMESTAMP},
      post_status = #{postStatus,jdbcType=VARCHAR},
      post_views = #{postViews,jdbcType=BIGINT},
      comment_status = #{commentStatus,jdbcType=VARCHAR},
      post_password = #{postPassword,jdbcType=VARCHAR},
      post_modified = #{postModified,jdbcType=TIMESTAMP},
      post_modified_username = #{postModifiedUsername,jdbcType=VARCHAR},
      post_modified_user = #{postModifiedUser,jdbcType=BIGINT},
      post_parent = #{postParent,jdbcType=BIGINT},
      version_number = #{versionNumber,jdbcType=INTEGER},
      thumbs_up = #{thumbsUp,jdbcType=BIGINT},
      thumbs_down = #{thumbsDown,jdbcType=BIGINT},
      avg_views = #{avgViews,jdbcType=DOUBLE},
      avg_comment = #{avgComment,jdbcType=DOUBLE},
      page_rank = #{pageRank,jdbcType=DOUBLE},
      secret_level = #{secretLevel,jdbcType=INTEGER},
      is_original = #{isOriginal,jdbcType=BIT},
      post_title = #{postTitle,jdbcType=VARCHAR},
      post_keyword = #{postKeyword,jdbcType=VARCHAR},
      post_excerpt = #{postExcerpt,jdbcType=VARCHAR},
      source_name = #{sourceName,jdbcType=VARCHAR},
      source_url = #{sourceUrl,jdbcType=VARCHAR},
      featured_image = #{featuredImage,jdbcType=LONGVARCHAR},
      post_content = #{postContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.renfei.cms.repositories.entity.CmsPosts">
    update cms_posts
    set category_id = #{categoryId,jdbcType=BIGINT},
      post_author_username = #{postAuthorUsername,jdbcType=VARCHAR},
      post_author = #{postAuthor,jdbcType=BIGINT},
      post_date = #{postDate,jdbcType=TIMESTAMP},
      post_status = #{postStatus,jdbcType=VARCHAR},
      post_views = #{postViews,jdbcType=BIGINT},
      comment_status = #{commentStatus,jdbcType=VARCHAR},
      post_password = #{postPassword,jdbcType=VARCHAR},
      post_modified = #{postModified,jdbcType=TIMESTAMP},
      post_modified_username = #{postModifiedUsername,jdbcType=VARCHAR},
      post_modified_user = #{postModifiedUser,jdbcType=BIGINT},
      post_parent = #{postParent,jdbcType=BIGINT},
      version_number = #{versionNumber,jdbcType=INTEGER},
      thumbs_up = #{thumbsUp,jdbcType=BIGINT},
      thumbs_down = #{thumbsDown,jdbcType=BIGINT},
      avg_views = #{avgViews,jdbcType=DOUBLE},
      avg_comment = #{avgComment,jdbcType=DOUBLE},
      page_rank = #{pageRank,jdbcType=DOUBLE},
      secret_level = #{secretLevel,jdbcType=INTEGER},
      is_original = #{isOriginal,jdbcType=BIT},
      post_title = #{postTitle,jdbcType=VARCHAR},
      post_keyword = #{postKeyword,jdbcType=VARCHAR},
      post_excerpt = #{postExcerpt,jdbcType=VARCHAR},
      source_name = #{sourceName,jdbcType=VARCHAR},
      source_url = #{sourceUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>