<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.renfei.repositories.DocsOnlineDocumentsMapper">
  <resultMap id="BaseResultMap" type="net.renfei.repositories.model.DocsOnlineDocuments">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="lang" jdbcType="VARCHAR" property="lang" />
    <result column="doc_link" jdbcType="VARCHAR" property="docLink" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    `id`, `category`, `title`, `version`, `lang`, `doc_link`, `describe`
  </sql>
  <select id="selectByExample" parameterType="net.renfei.repositories.model.DocsOnlineDocumentsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from docs_online_documents
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from docs_online_documents
    where `id` = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from docs_online_documents
    where `id` = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="net.renfei.repositories.model.DocsOnlineDocumentsExample">
    delete from docs_online_documents
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="net.renfei.repositories.model.DocsOnlineDocuments">
    insert into docs_online_documents (`id`, `category`, `title`, 
      `version`, `lang`, `doc_link`, 
      `describe`)
    values (#{id,jdbcType=BIGINT}, #{category,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{version,jdbcType=VARCHAR}, #{lang,jdbcType=VARCHAR}, #{docLink,jdbcType=VARCHAR}, 
      #{describe,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="net.renfei.repositories.model.DocsOnlineDocuments">
    insert into docs_online_documents
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        `id`,
      </if>
      <if test="category != null">
        `category`,
      </if>
      <if test="title != null">
        `title`,
      </if>
      <if test="version != null">
        `version`,
      </if>
      <if test="lang != null">
        `lang`,
      </if>
      <if test="docLink != null">
        `doc_link`,
      </if>
      <if test="describe != null">
        `describe`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="lang != null">
        #{lang,jdbcType=VARCHAR},
      </if>
      <if test="docLink != null">
        #{docLink,jdbcType=VARCHAR},
      </if>
      <if test="describe != null">
        #{describe,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.renfei.repositories.model.DocsOnlineDocumentsExample" resultType="java.lang.Long">
    select count(*) from docs_online_documents
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update docs_online_documents
    <set>
      <if test="record.id != null">
        `id` = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.category != null">
        `category` = #{record.category,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null">
        `title` = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.version != null">
        `version` = #{record.version,jdbcType=VARCHAR},
      </if>
      <if test="record.lang != null">
        `lang` = #{record.lang,jdbcType=VARCHAR},
      </if>
      <if test="record.docLink != null">
        `doc_link` = #{record.docLink,jdbcType=VARCHAR},
      </if>
      <if test="record.describe != null">
        `describe` = #{record.describe,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update docs_online_documents
    set `id` = #{record.id,jdbcType=BIGINT},
      `category` = #{record.category,jdbcType=VARCHAR},
      `title` = #{record.title,jdbcType=VARCHAR},
      `version` = #{record.version,jdbcType=VARCHAR},
      `lang` = #{record.lang,jdbcType=VARCHAR},
      `doc_link` = #{record.docLink,jdbcType=VARCHAR},
      `describe` = #{record.describe,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="net.renfei.repositories.model.DocsOnlineDocuments">
    update docs_online_documents
    <set>
      <if test="category != null">
        `category` = #{category,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        `title` = #{title,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        `version` = #{version,jdbcType=VARCHAR},
      </if>
      <if test="lang != null">
        `lang` = #{lang,jdbcType=VARCHAR},
      </if>
      <if test="docLink != null">
        `doc_link` = #{docLink,jdbcType=VARCHAR},
      </if>
      <if test="describe != null">
        `describe` = #{describe,jdbcType=VARCHAR},
      </if>
    </set>
    where `id` = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.renfei.repositories.model.DocsOnlineDocuments">
    update docs_online_documents
    set `category` = #{category,jdbcType=VARCHAR},
      `title` = #{title,jdbcType=VARCHAR},
      `version` = #{version,jdbcType=VARCHAR},
      `lang` = #{lang,jdbcType=VARCHAR},
      `doc_link` = #{docLink,jdbcType=VARCHAR},
      `describe` = #{describe,jdbcType=VARCHAR}
    where `id` = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectCategory" resultType="java.util.Map">
    SELECT `category` FROM docs_online_documents GROUP BY `category` ORDER BY `category` ASC
  </select>
</mapper>