<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.renfei.repositories.KitboxDneyesRecordLogMapper">
  <resultMap id="BaseResultMap" type="net.renfei.repositories.model.KitboxDneyesRecordLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sub_domain" jdbcType="VARCHAR" property="subDomain" />
    <result column="client_ip" jdbcType="VARCHAR" property="clientIp" />
    <result column="log_time" jdbcType="TIMESTAMP" property="logTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="net.renfei.repositories.model.KitboxDneyesRecordLog">
    <result column="client_host_name" jdbcType="LONGVARCHAR" property="clientHostName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    `id`, `sub_domain`, `client_ip`, `log_time`
  </sql>
  <sql id="Blob_Column_List">
    `client_host_name`
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="net.renfei.repositories.model.KitboxDneyesRecordLogExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from kitbox_dneyes_record_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="net.renfei.repositories.model.KitboxDneyesRecordLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from kitbox_dneyes_record_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from kitbox_dneyes_record_log
    where `id` = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from kitbox_dneyes_record_log
    where `id` = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="net.renfei.repositories.model.KitboxDneyesRecordLogExample">
    delete from kitbox_dneyes_record_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="net.renfei.repositories.model.KitboxDneyesRecordLog">
    insert into kitbox_dneyes_record_log (`id`, `sub_domain`, `client_ip`, 
      `log_time`, `client_host_name`)
    values (#{id,jdbcType=BIGINT}, #{subDomain,jdbcType=VARCHAR}, #{clientIp,jdbcType=VARCHAR}, 
      #{logTime,jdbcType=TIMESTAMP}, #{clientHostName,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="net.renfei.repositories.model.KitboxDneyesRecordLog">
    insert into kitbox_dneyes_record_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        `id`,
      </if>
      <if test="subDomain != null">
        `sub_domain`,
      </if>
      <if test="clientIp != null">
        `client_ip`,
      </if>
      <if test="logTime != null">
        `log_time`,
      </if>
      <if test="clientHostName != null">
        `client_host_name`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="subDomain != null">
        #{subDomain,jdbcType=VARCHAR},
      </if>
      <if test="clientIp != null">
        #{clientIp,jdbcType=VARCHAR},
      </if>
      <if test="logTime != null">
        #{logTime,jdbcType=TIMESTAMP},
      </if>
      <if test="clientHostName != null">
        #{clientHostName,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.renfei.repositories.model.KitboxDneyesRecordLogExample" resultType="java.lang.Long">
    select count(*) from kitbox_dneyes_record_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update kitbox_dneyes_record_log
    <set>
      <if test="record.id != null">
        `id` = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.subDomain != null">
        `sub_domain` = #{record.subDomain,jdbcType=VARCHAR},
      </if>
      <if test="record.clientIp != null">
        `client_ip` = #{record.clientIp,jdbcType=VARCHAR},
      </if>
      <if test="record.logTime != null">
        `log_time` = #{record.logTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.clientHostName != null">
        `client_host_name` = #{record.clientHostName,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update kitbox_dneyes_record_log
    set `id` = #{record.id,jdbcType=BIGINT},
      `sub_domain` = #{record.subDomain,jdbcType=VARCHAR},
      `client_ip` = #{record.clientIp,jdbcType=VARCHAR},
      `log_time` = #{record.logTime,jdbcType=TIMESTAMP},
      `client_host_name` = #{record.clientHostName,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update kitbox_dneyes_record_log
    set `id` = #{record.id,jdbcType=BIGINT},
      `sub_domain` = #{record.subDomain,jdbcType=VARCHAR},
      `client_ip` = #{record.clientIp,jdbcType=VARCHAR},
      `log_time` = #{record.logTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="net.renfei.repositories.model.KitboxDneyesRecordLog">
    update kitbox_dneyes_record_log
    <set>
      <if test="subDomain != null">
        `sub_domain` = #{subDomain,jdbcType=VARCHAR},
      </if>
      <if test="clientIp != null">
        `client_ip` = #{clientIp,jdbcType=VARCHAR},
      </if>
      <if test="logTime != null">
        `log_time` = #{logTime,jdbcType=TIMESTAMP},
      </if>
      <if test="clientHostName != null">
        `client_host_name` = #{clientHostName,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where `id` = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="net.renfei.repositories.model.KitboxDneyesRecordLog">
    update kitbox_dneyes_record_log
    set `sub_domain` = #{subDomain,jdbcType=VARCHAR},
      `client_ip` = #{clientIp,jdbcType=VARCHAR},
      `log_time` = #{logTime,jdbcType=TIMESTAMP},
      `client_host_name` = #{clientHostName,jdbcType=LONGVARCHAR}
    where `id` = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.renfei.repositories.model.KitboxDneyesRecordLog">
    update kitbox_dneyes_record_log
    set `sub_domain` = #{subDomain,jdbcType=VARCHAR},
      `client_ip` = #{clientIp,jdbcType=VARCHAR},
      `log_time` = #{logTime,jdbcType=TIMESTAMP}
    where `id` = #{id,jdbcType=BIGINT}
  </update>
</mapper>