<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.renfei.repositories.PhotoAlbumMapper">
  <resultMap id="BaseResultMap" type="net.renfei.repositories.model.PhotoAlbum">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="release_time" jdbcType="TIMESTAMP" property="releaseTime" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="net.renfei.repositories.model.PhotoAlbumWithBLOBs">
    <result column="title" jdbcType="LONGVARCHAR" property="title" />
    <result column="featured_image" jdbcType="LONGVARCHAR" property="featuredImage" />
    <result column="describes" jdbcType="LONGVARCHAR" property="describes" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    `id`, `category_id`, `release_time`, `add_time`, `is_delete`
  </sql>
  <sql id="Blob_Column_List">
    `title`, `featured_image`, `describes`
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="net.renfei.repositories.model.PhotoAlbumExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from photo_album
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="net.renfei.repositories.model.PhotoAlbumExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from photo_album
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="net.renfei.repositories.model.PhotoAlbumExample">
    delete from photo_album
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="net.renfei.repositories.model.PhotoAlbumWithBLOBs">
    insert into photo_album (`id`, `category_id`, `release_time`, 
      `add_time`, `is_delete`, `title`, 
      `featured_image`, `describes`)
    values (#{id,jdbcType=BIGINT}, #{categoryId,jdbcType=BIGINT}, #{releaseTime,jdbcType=TIMESTAMP}, 
      #{addTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=BIT}, #{title,jdbcType=LONGVARCHAR}, 
      #{featuredImage,jdbcType=LONGVARCHAR}, #{describes,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="net.renfei.repositories.model.PhotoAlbumWithBLOBs">
    insert into photo_album
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        `id`,
      </if>
      <if test="categoryId != null">
        `category_id`,
      </if>
      <if test="releaseTime != null">
        `release_time`,
      </if>
      <if test="addTime != null">
        `add_time`,
      </if>
      <if test="isDelete != null">
        `is_delete`,
      </if>
      <if test="title != null">
        `title`,
      </if>
      <if test="featuredImage != null">
        `featured_image`,
      </if>
      <if test="describes != null">
        `describes`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="releaseTime != null">
        #{releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="title != null">
        #{title,jdbcType=LONGVARCHAR},
      </if>
      <if test="featuredImage != null">
        #{featuredImage,jdbcType=LONGVARCHAR},
      </if>
      <if test="describes != null">
        #{describes,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.renfei.repositories.model.PhotoAlbumExample" resultType="java.lang.Long">
    select count(*) from photo_album
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update photo_album
    <set>
      <if test="record.id != null">
        `id` = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.categoryId != null">
        `category_id` = #{record.categoryId,jdbcType=BIGINT},
      </if>
      <if test="record.releaseTime != null">
        `release_time` = #{record.releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.addTime != null">
        `add_time` = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDelete != null">
        `is_delete` = #{record.isDelete,jdbcType=BIT},
      </if>
      <if test="record.title != null">
        `title` = #{record.title,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.featuredImage != null">
        `featured_image` = #{record.featuredImage,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.describes != null">
        `describes` = #{record.describes,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update photo_album
    set `id` = #{record.id,jdbcType=BIGINT},
      `category_id` = #{record.categoryId,jdbcType=BIGINT},
      `release_time` = #{record.releaseTime,jdbcType=TIMESTAMP},
      `add_time` = #{record.addTime,jdbcType=TIMESTAMP},
      `is_delete` = #{record.isDelete,jdbcType=BIT},
      `title` = #{record.title,jdbcType=LONGVARCHAR},
      `featured_image` = #{record.featuredImage,jdbcType=LONGVARCHAR},
      `describes` = #{record.describes,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update photo_album
    set `id` = #{record.id,jdbcType=BIGINT},
      `category_id` = #{record.categoryId,jdbcType=BIGINT},
      `release_time` = #{record.releaseTime,jdbcType=TIMESTAMP},
      `add_time` = #{record.addTime,jdbcType=TIMESTAMP},
      `is_delete` = #{record.isDelete,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>