<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.renfei.repositories.SysRoleMapper">
  <resultMap id="BaseResultMap" type="net.renfei.repositories.model.SysRole">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="zh_name" jdbcType="VARCHAR" property="zhName" />
    <result column="en_name" jdbcType="VARCHAR" property="enName" />
    <result column="built_in_role" jdbcType="BIT" property="builtInRole" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    `id`, `zh_name`, `en_name`, `built_in_role`
  </sql>
  <select id="selectByExample" parameterType="net.renfei.repositories.model.SysRoleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where `id` = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_role
    where `id` = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="net.renfei.repositories.model.SysRoleExample">
    delete from sys_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="net.renfei.repositories.model.SysRole" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
    insert into sys_role (`id`, `zh_name`, `en_name`, 
      `built_in_role`)
    values (#{id,jdbcType=BIGINT}, #{zhName,jdbcType=VARCHAR}, #{enName,jdbcType=VARCHAR}, 
      #{builtInRole,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="net.renfei.repositories.model.SysRole" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        `id`,
      </if>
      <if test="zhName != null">
        `zh_name`,
      </if>
      <if test="enName != null">
        `en_name`,
      </if>
      <if test="builtInRole != null">
        `built_in_role`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="zhName != null">
        #{zhName,jdbcType=VARCHAR},
      </if>
      <if test="enName != null">
        #{enName,jdbcType=VARCHAR},
      </if>
      <if test="builtInRole != null">
        #{builtInRole,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.renfei.repositories.model.SysRoleExample" resultType="java.lang.Long">
    select count(*) from sys_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_role
    <set>
      <if test="record.id != null">
        `id` = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.zhName != null">
        `zh_name` = #{record.zhName,jdbcType=VARCHAR},
      </if>
      <if test="record.enName != null">
        `en_name` = #{record.enName,jdbcType=VARCHAR},
      </if>
      <if test="record.builtInRole != null">
        `built_in_role` = #{record.builtInRole,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_role
    set `id` = #{record.id,jdbcType=BIGINT},
      `zh_name` = #{record.zhName,jdbcType=VARCHAR},
      `en_name` = #{record.enName,jdbcType=VARCHAR},
      `built_in_role` = #{record.builtInRole,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="net.renfei.repositories.model.SysRole">
    update sys_role
    <set>
      <if test="zhName != null">
        `zh_name` = #{zhName,jdbcType=VARCHAR},
      </if>
      <if test="enName != null">
        `en_name` = #{enName,jdbcType=VARCHAR},
      </if>
      <if test="builtInRole != null">
        `built_in_role` = #{builtInRole,jdbcType=BIT},
      </if>
    </set>
    where `id` = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.renfei.repositories.model.SysRole">
    update sys_role
    set `zh_name` = #{zhName,jdbcType=VARCHAR},
      `en_name` = #{enName,jdbcType=VARCHAR},
      `built_in_role` = #{builtInRole,jdbcType=BIT}
    where `id` = #{id,jdbcType=BIGINT}
  </update>
</mapper>