<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.renfei.repositories.WeiboPostmetaMapper">
  <resultMap id="BaseResultMap" type="net.renfei.repositories.model.WeiboPostmeta">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="post_id" jdbcType="BIGINT" property="postId" />
    <result column="meta_key" jdbcType="VARCHAR" property="metaKey" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="net.renfei.repositories.model.WeiboPostmeta">
    <result column="meta_value" jdbcType="LONGVARCHAR" property="metaValue" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    `id`, `post_id`, `meta_key`
  </sql>
  <sql id="Blob_Column_List">
    `meta_value`
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="net.renfei.repositories.model.WeiboPostmetaExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from weibo_postmeta
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="net.renfei.repositories.model.WeiboPostmetaExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from weibo_postmeta
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="net.renfei.repositories.model.WeiboPostmetaExample">
    delete from weibo_postmeta
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="net.renfei.repositories.model.WeiboPostmeta">
    insert into weibo_postmeta (`id`, `post_id`, `meta_key`, 
      `meta_value`)
    values (#{id,jdbcType=BIGINT}, #{postId,jdbcType=BIGINT}, #{metaKey,jdbcType=VARCHAR}, 
      #{metaValue,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="net.renfei.repositories.model.WeiboPostmeta">
    insert into weibo_postmeta
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        `id`,
      </if>
      <if test="postId != null">
        `post_id`,
      </if>
      <if test="metaKey != null">
        `meta_key`,
      </if>
      <if test="metaValue != null">
        `meta_value`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="postId != null">
        #{postId,jdbcType=BIGINT},
      </if>
      <if test="metaKey != null">
        #{metaKey,jdbcType=VARCHAR},
      </if>
      <if test="metaValue != null">
        #{metaValue,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.renfei.repositories.model.WeiboPostmetaExample" resultType="java.lang.Long">
    select count(*) from weibo_postmeta
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update weibo_postmeta
    <set>
      <if test="record.id != null">
        `id` = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.postId != null">
        `post_id` = #{record.postId,jdbcType=BIGINT},
      </if>
      <if test="record.metaKey != null">
        `meta_key` = #{record.metaKey,jdbcType=VARCHAR},
      </if>
      <if test="record.metaValue != null">
        `meta_value` = #{record.metaValue,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update weibo_postmeta
    set `id` = #{record.id,jdbcType=BIGINT},
      `post_id` = #{record.postId,jdbcType=BIGINT},
      `meta_key` = #{record.metaKey,jdbcType=VARCHAR},
      `meta_value` = #{record.metaValue,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update weibo_postmeta
    set `id` = #{record.id,jdbcType=BIGINT},
      `post_id` = #{record.postId,jdbcType=BIGINT},
      `meta_key` = #{record.metaKey,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>