* {
    font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    border-top: 1px solid transparent;
    margin-top: -1px;
    position: relative;
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    background-color: #fff;
    color: #1d1d1f;
}

.small {
    font-size: 12px;
}

.nav {
    min-height: 44px;
    background: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    color: #f5f5f7;
    padding: 0 10px;
    z-index: 999999;
}

.nav:hover {
    color: #FFFFFF;
}

.site-logo-name {
    font-weight: 100;
    color: #f5f5f7;
    opacity: .8;
    -webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    -webkit-tap-highlight-color: transparent;
    outline-offset: -7px;
}

.site-logo-name:hover {
    opacity: 1;
}

.navbar-dark .navbar-nav .nav-link {
    font-size: 14px;
    line-height: 3.14286;
    font-weight: 200;
    color: #f5f5f7;
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0 10px;
    height: 44px;
    opacity: .8;
    background: no-repeat;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    -webkit-tap-highlight-color: transparent;
    outline-offset: -7px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    opacity: 1;
    color: #FFFFFF;
}

/*Banner*/
#banner-box{
    padding: 50px 30px;
    font-size: 62.5%;
    color: #FFFFFF;
}
#banner {
    position: relative;
    overflow: hidden;
    border-radius: 5rem;
}

@media only screen and (max-width: 1000px) {
    #banner-box{
        padding: 0;
        font-size: 57%;
    }
    #banner {
        border-radius: 0;
        font-size: 85%;
    }
}

.slider {
    display: -webkit-box;
    display: flex;
    width: 500%;
    height: 650px;
    -webkit-transition: all .25s ease-in;
    transition: all .25s ease-in;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

@media only screen and (max-width: 1000px) {
    .slider {
        height: 100vh;
    }
}

.slider .box {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

@media only screen and (max-width: 650px) {
    .slider .box {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
}

.slider .box .bg {
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.2);
    width: 55%;
    -webkit-transform: skewX(7deg);
    transform: skewX(7deg);
    position: absolute;
    height: 100%;
    left: -10%;
    padding-left: 20rem;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

@media only screen and (max-width: 800px) {
    .slider .box .bg {
        width: 65%;
    }
}

@media only screen and (max-width: 650px) {
    .slider .box .bg {
        width: 100%;
        left: 0;
        bottom: 0;
        height: 54%;
        -webkit-transform: skewX(0deg);
        transform: skewX(0deg);
    }
}

.slider .box .bg::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: inherit;
    pointer-events: none;
    -webkit-transform: skewX(10deg);
    transform: skewX(10deg);
}

@media only screen and (max-width: 650px) {
    .slider .box .bg::before {
        width: 120%;
        bottom: 0;
        -webkit-transform: skewX(0deg);
        transform: skewX(0deg);
    }
}

.slider .box .details {
    padding: 5rem;
    padding-left: 10rem;
    z-index: 100;
    grid-column: 1 / span 1;
    grid-row: 1 / -1;
}

@media only screen and (max-width: 650px) {
    .slider .box .details {
        grid-row: 2 / span 1;
        grid-column: 1 / -1;
        text-align: center;
        padding: 2rem;
        -webkit-transform: translateY(-9rem);
        transform: translateY(-9rem);
    }
}

.slider .box .details h1 {
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 10px;
}

.slider .box .details p {
    display: inline-block;
    font-size: 16px;
    color: #B5B4B4;
    margin-bottom: 2rem;
    margin-right: 5rem;
}

@media only screen and (max-width: 1200px){
    .slider .box .details h1 {
        font-size: 26px;
        margin-bottom: 10px;
    }
    .slider .box .details p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 992px){
    .slider .box .details h1 {
        font-size: 14px;
        margin-bottom: 8px;
    }
    .slider .box .details p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 800px){
    .slider .box .details h1 {
        font-size: 26px;
        margin-bottom: 10px;
    }
    .slider .box .details p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 800px) {
    .slider .box .details p {
        margin-right: 0;
    }
}

.slider .box .details a {
    padding: 1rem 3rem;
    color: #fff;
    border-radius: 2rem;
    outline: none;
    border: none;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.slider .box .details a:hover {
    opacity: .8;
}

.slider .box .details a:focus {
    outline: none;
    border: none;
}

.slider .box1 {
    background-color: #000050;
}

.slider .box1 .illustration .inner {
    background-color: #0033FF;
}

.slider .box1 .illustration .inner::after, .slider .box1 .illustration .inner::before {
    background-color: rgba(0, 51, 255, 0.4);
}

.slider .box1 a {
    background-color: #0033FF;
}

.slider .box2 {
    background-color: #500033;
}

.slider .box2 .illustration .inner {
    background-color: #FF0077;
}

.slider .box2 .illustration .inner::after, .slider .box2 .illustration .inner::before {
    background-color: rgba(255, 0, 119, 0.4);
}

.slider .box2 a {
    background-color: #FF0077;
}

.slider .box3 {
    background-color: #00501D;
}

.slider .box3 .illustration .inner {
    background-color: #00FF44;
}

.slider .box3 .illustration .inner::after, .slider .box3 .illustration .inner::before {
    background-color: rgba(0, 255, 68, 0.4);
}

.slider .box3 a {
    background-color: #00FF44;
}

.slider .box4 {
    background-color: #554D00;
}

.slider .box4 .illustration .inner {
    background-color: #FF4E00;
}

.slider .box4 .illustration .inner::after, .slider .box4 .illustration .inner::before {
    background-color: rgba(255, 78, 0, 0.4);
}

.slider .box4 a {
    background-color: #FF4E00;
}

.slider .box5 {
    background-color: #300050;
}

.slider .box5 .illustration .inner {
    background-color: #8000FF;
}

.slider .box5 .illustration .inner::after, .slider .box5 .illustration .inner::before {
    background-color: rgba(128, 0, 255, 0.4);
}

.slider .box5 a {
    background-color: #8000FF;
}

.slider .illustration {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    justify-self: center;
}

@media only screen and (max-width: 650px) {
    .slider .illustration {
        grid-row: 1 / span 1;
        grid-column: 1 / -1;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
    }
}

.slider .illustration div {
    height: 25rem;
    width: 18rem;
    border-radius: 3rem;
    background-color: #FF0077;
    position: relative;
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
}

@media only screen and (max-width: 800px) {
    .slider .illustration div {
        height: 20rem;
        width: 15rem;
    }
}

.slider .illustration div::after, .slider .illustration div::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 3rem;
    top: 0;
    left: 0;
}

.slider .illustration div::after {
    -webkit-transform: translate(4rem, -1rem);
    transform: translate(4rem, -1rem);
}

.slider .illustration div::before {
    -webkit-transform: translate(2rem, -2rem);
    transform: translate(2rem, -2rem);
}

.prev,
.next,
.trail {
    z-index: 10000;
    position: absolute;
}

.prev,
.next {
    width: 4rem;
    cursor: pointer;
    opacity: .2;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

@media only screen and (max-width: 650px) {
    .prev,
    .next {
        display: none;
    }
}

.prev:hover,
.next:hover {
    opacity: 1;
}

.prev {
    top: 50%;
    left: 2%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.next {
    top: 50%;
    right: 2%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.trail {
    bottom: 5%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 60%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

@media only screen and (max-width: 650px) {
    .trail {
        width: 90%;
        bottom: 13%;
    }
}

.trail div {
    padding: 2rem;
    border-top: 3px solid #fff;
    cursor: pointer;
    opacity: .3;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.trail div:hover {
    opacity: .6;
}

@media only screen and (max-width: 650px) {
    .trail div {
        padding: 1rem;
    }
}

.active {
    opacity: 1 !important;
}

.col-card {
    padding: 10px;
}

.card-title {
    font-size: 24px;
}

.card-text {
    font-size: 14px;
}

.more .card {
    margin-bottom: 20px;
}

.index-container {
    background-color: #f5f5f7;
}

.index-container2 {
    background-color: #FFFFFF;
}

.footer {
    background-color: #f5f5f7;
    color: #1d1d1f;
}

.text-muted {
    font-size: 11px;
}

.footerMenus h3 {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: .8em;
}

.footerMenus ul {
    padding: 0;
}

.footerMenus ul li {
    margin-bottom: 5px;
    list-style: none;
}

.footerMenus ul li a {
    color: #515154;
    font-size: 12px;
}

.footer-menu-ul {
    padding-left: 0;
}

.footer-menu-ul li {
    list-style: none;
    padding: 0 5px;
}

#post-content{
    font-size: 15px;
}
#post-content p{
    text-indent: 2em;
}

.related-post-list .list-group-item{
    width: 100%;
}
.related-post-list .list-group-item h5{
    white-space: nowrap;
    overflow: hidden;
}
.related-post-list .list-group-item h5 a{
    font-size: 17px;
    font-weight: 700;
    color: #1d1d1f;
}
.about-banner{
    background: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#fafafa));
    background: -webkit-linear-gradient(top, #eaeaea 0%, #fafafa 100%);
    background: linear-gradient(to bottom, #eaeaea 0%, #fafafa 100%);
}
.about-banner .about-img{
    background-image: url(https://cdn.renfei.net/thunder/img/renfei.png);
    height: 400px;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
}
.about-banner .about-img .about-title{
    position: relative;
    z-index: 1;
    width: 50%;
    padding-top: 94px;
}
.developer-toolkit-banner, .developer-toolkit-banner .container,.developer-toolkit-banner .container .row{
    min-height: 433px;
    background-color: rgb(199,198,193);
}
.developer-toolkit-banner .developer-toolkit-banner-left{
    background-image: url("https://cdn.renfei.net/thunder/img/developer_toolkit.jpg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.developer-toolkit-banner .online-document-banner-left{
    background-image: url("https://cdn.renfei.net/thunder/img/online_document.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.sponsors-banner, .sponsors-banner .container,.sponsors-banner .container .row{
    min-height: 433px;
    background-image: linear-gradient(#a6c2fb, #ddd5f8);
}
.sponsors-banner .sponsors-banner-left{
    background-image: url("https://cdn.renfei.net/thunder/img/sponsors.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.maven-banner, .maven-banner .container,.maven-banner .container .row{
    min-height: 433px;
    background-color: #f2f2f2;
}
.maven-banner .maven-banner-left{
    background-image: url("https://cdn.renfei.net/thunder/img/maven-logo-black-on-white.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.media-body{
    padding-left: 20px;
    border-left: 5px solid #f5f5f5;
}
.wechat-share {
    display: none;
    position: absolute;
    z-index: 99999;
    width: 152px;
    height: 152px;
    border: 1px #609700 solid;
    left: 0;
    top: 30px;
}

#wechat-share-box {
    position: relative;
}

#wechat-share-box:hover .wechat-share {
    display: block;
}
.weibo_radius{
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.weibo_item {
    border-top: 1px solid #eeeeee;
    clear: both;
}

.weibo_author {
    color: #000000;
    font-weight: 600;
}

.weibo_author span {
    color: rgb(101, 119, 134);
    font-weight: 400;
}

.blockquote{
    font-size: 14px;
    background-color: #f0f0f0f0;
    padding: 10px 10px 10px 30px;
    color: #3d3d3d;
    border-left: 5px #c0c0c0 solid;
}