<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.renfei.repositories.BlogPostsMapper">
  <resultMap id="BaseResultMap" type="net.renfei.repositories.model.BlogPosts">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="post_author" jdbcType="BIGINT" property="postAuthor" />
    <result column="post_date" jdbcType="TIMESTAMP" property="postDate" />
    <result column="post_status" jdbcType="VARCHAR" property="postStatus" />
    <result column="post_views" jdbcType="BIGINT" property="postViews" />
    <result column="comment_status" jdbcType="VARCHAR" property="commentStatus" />
    <result column="post_password" jdbcType="VARCHAR" property="postPassword" />
    <result column="post_modified" jdbcType="TIMESTAMP" property="postModified" />
    <result column="post_parent" jdbcType="BIGINT" property="postParent" />
    <result column="thumbs_up" jdbcType="BIGINT" property="thumbsUp" />
    <result column="thumbs_down" jdbcType="BIGINT" property="thumbsDown" />
    <result column="avg_views" jdbcType="DOUBLE" property="avgViews" />
    <result column="avg_comment" jdbcType="DOUBLE" property="avgComment" />
    <result column="page_rank" jdbcType="DOUBLE" property="pageRank" />
    <result column="secret_level" jdbcType="INTEGER" property="secretLevel" />
    <result column="is_original" jdbcType="BIT" property="isOriginal" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="net.renfei.repositories.model.BlogPostsWithBLOBs">
    <result column="featured_image" jdbcType="LONGVARCHAR" property="featuredImage" />
    <result column="post_title" jdbcType="LONGVARCHAR" property="postTitle" />
    <result column="post_keyword" jdbcType="LONGVARCHAR" property="postKeyword" />
    <result column="post_excerpt" jdbcType="LONGVARCHAR" property="postExcerpt" />
    <result column="post_content" jdbcType="LONGVARCHAR" property="postContent" />
    <result column="source_name" jdbcType="LONGVARCHAR" property="sourceName" />
    <result column="source_url" jdbcType="LONGVARCHAR" property="sourceUrl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    `id`, `category_id`, `post_author`, `post_date`, `post_status`, `post_views`, `comment_status`, 
    `post_password`, `post_modified`, `post_parent`, `thumbs_up`, `thumbs_down`, `avg_views`, 
    `avg_comment`, `page_rank`, `secret_level`, `is_original`
  </sql>
  <sql id="Blob_Column_List">
    `featured_image`, `post_title`, `post_keyword`, `post_excerpt`, `post_content`, `source_name`, 
    `source_url`
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="net.renfei.repositories.model.BlogPostsExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from blog_posts
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="net.renfei.repositories.model.BlogPostsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from blog_posts
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="net.renfei.repositories.model.BlogPostsExample">
    delete from blog_posts
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="net.renfei.repositories.model.BlogPostsWithBLOBs">
    insert into blog_posts (`id`, `category_id`, `post_author`, 
      `post_date`, `post_status`, `post_views`, 
      `comment_status`, `post_password`, `post_modified`, 
      `post_parent`, `thumbs_up`, `thumbs_down`, 
      `avg_views`, `avg_comment`, `page_rank`, 
      `secret_level`, `is_original`, `featured_image`, 
      `post_title`, `post_keyword`, `post_excerpt`, 
      `post_content`, `source_name`, `source_url`
      )
    values (#{id,jdbcType=BIGINT}, #{categoryId,jdbcType=BIGINT}, #{postAuthor,jdbcType=BIGINT}, 
      #{postDate,jdbcType=TIMESTAMP}, #{postStatus,jdbcType=VARCHAR}, #{postViews,jdbcType=BIGINT}, 
      #{commentStatus,jdbcType=VARCHAR}, #{postPassword,jdbcType=VARCHAR}, #{postModified,jdbcType=TIMESTAMP}, 
      #{postParent,jdbcType=BIGINT}, #{thumbsUp,jdbcType=BIGINT}, #{thumbsDown,jdbcType=BIGINT}, 
      #{avgViews,jdbcType=DOUBLE}, #{avgComment,jdbcType=DOUBLE}, #{pageRank,jdbcType=DOUBLE}, 
      #{secretLevel,jdbcType=INTEGER}, #{isOriginal,jdbcType=BIT}, #{featuredImage,jdbcType=LONGVARCHAR}, 
      #{postTitle,jdbcType=LONGVARCHAR}, #{postKeyword,jdbcType=LONGVARCHAR}, #{postExcerpt,jdbcType=LONGVARCHAR}, 
      #{postContent,jdbcType=LONGVARCHAR}, #{sourceName,jdbcType=LONGVARCHAR}, #{sourceUrl,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="net.renfei.repositories.model.BlogPostsWithBLOBs">
    insert into blog_posts
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        `id`,
      </if>
      <if test="categoryId != null">
        `category_id`,
      </if>
      <if test="postAuthor != null">
        `post_author`,
      </if>
      <if test="postDate != null">
        `post_date`,
      </if>
      <if test="postStatus != null">
        `post_status`,
      </if>
      <if test="postViews != null">
        `post_views`,
      </if>
      <if test="commentStatus != null">
        `comment_status`,
      </if>
      <if test="postPassword != null">
        `post_password`,
      </if>
      <if test="postModified != null">
        `post_modified`,
      </if>
      <if test="postParent != null">
        `post_parent`,
      </if>
      <if test="thumbsUp != null">
        `thumbs_up`,
      </if>
      <if test="thumbsDown != null">
        `thumbs_down`,
      </if>
      <if test="avgViews != null">
        `avg_views`,
      </if>
      <if test="avgComment != null">
        `avg_comment`,
      </if>
      <if test="pageRank != null">
        `page_rank`,
      </if>
      <if test="secretLevel != null">
        `secret_level`,
      </if>
      <if test="isOriginal != null">
        `is_original`,
      </if>
      <if test="featuredImage != null">
        `featured_image`,
      </if>
      <if test="postTitle != null">
        `post_title`,
      </if>
      <if test="postKeyword != null">
        `post_keyword`,
      </if>
      <if test="postExcerpt != null">
        `post_excerpt`,
      </if>
      <if test="postContent != null">
        `post_content`,
      </if>
      <if test="sourceName != null">
        `source_name`,
      </if>
      <if test="sourceUrl != null">
        `source_url`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="postAuthor != null">
        #{postAuthor,jdbcType=BIGINT},
      </if>
      <if test="postDate != null">
        #{postDate,jdbcType=TIMESTAMP},
      </if>
      <if test="postStatus != null">
        #{postStatus,jdbcType=VARCHAR},
      </if>
      <if test="postViews != null">
        #{postViews,jdbcType=BIGINT},
      </if>
      <if test="commentStatus != null">
        #{commentStatus,jdbcType=VARCHAR},
      </if>
      <if test="postPassword != null">
        #{postPassword,jdbcType=VARCHAR},
      </if>
      <if test="postModified != null">
        #{postModified,jdbcType=TIMESTAMP},
      </if>
      <if test="postParent != null">
        #{postParent,jdbcType=BIGINT},
      </if>
      <if test="thumbsUp != null">
        #{thumbsUp,jdbcType=BIGINT},
      </if>
      <if test="thumbsDown != null">
        #{thumbsDown,jdbcType=BIGINT},
      </if>
      <if test="avgViews != null">
        #{avgViews,jdbcType=DOUBLE},
      </if>
      <if test="avgComment != null">
        #{avgComment,jdbcType=DOUBLE},
      </if>
      <if test="pageRank != null">
        #{pageRank,jdbcType=DOUBLE},
      </if>
      <if test="secretLevel != null">
        #{secretLevel,jdbcType=INTEGER},
      </if>
      <if test="isOriginal != null">
        #{isOriginal,jdbcType=BIT},
      </if>
      <if test="featuredImage != null">
        #{featuredImage,jdbcType=LONGVARCHAR},
      </if>
      <if test="postTitle != null">
        #{postTitle,jdbcType=LONGVARCHAR},
      </if>
      <if test="postKeyword != null">
        #{postKeyword,jdbcType=LONGVARCHAR},
      </if>
      <if test="postExcerpt != null">
        #{postExcerpt,jdbcType=LONGVARCHAR},
      </if>
      <if test="postContent != null">
        #{postContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="sourceName != null">
        #{sourceName,jdbcType=LONGVARCHAR},
      </if>
      <if test="sourceUrl != null">
        #{sourceUrl,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.renfei.repositories.model.BlogPostsExample" resultType="java.lang.Long">
    select count(*) from blog_posts
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update blog_posts
    <set>
      <if test="record.id != null">
        `id` = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.categoryId != null">
        `category_id` = #{record.categoryId,jdbcType=BIGINT},
      </if>
      <if test="record.postAuthor != null">
        `post_author` = #{record.postAuthor,jdbcType=BIGINT},
      </if>
      <if test="record.postDate != null">
        `post_date` = #{record.postDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.postStatus != null">
        `post_status` = #{record.postStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.postViews != null">
        `post_views` = #{record.postViews,jdbcType=BIGINT},
      </if>
      <if test="record.commentStatus != null">
        `comment_status` = #{record.commentStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.postPassword != null">
        `post_password` = #{record.postPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.postModified != null">
        `post_modified` = #{record.postModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.postParent != null">
        `post_parent` = #{record.postParent,jdbcType=BIGINT},
      </if>
      <if test="record.thumbsUp != null">
        `thumbs_up` = #{record.thumbsUp,jdbcType=BIGINT},
      </if>
      <if test="record.thumbsDown != null">
        `thumbs_down` = #{record.thumbsDown,jdbcType=BIGINT},
      </if>
      <if test="record.avgViews != null">
        `avg_views` = #{record.avgViews,jdbcType=DOUBLE},
      </if>
      <if test="record.avgComment != null">
        `avg_comment` = #{record.avgComment,jdbcType=DOUBLE},
      </if>
      <if test="record.pageRank != null">
        `page_rank` = #{record.pageRank,jdbcType=DOUBLE},
      </if>
      <if test="record.secretLevel != null">
        `secret_level` = #{record.secretLevel,jdbcType=INTEGER},
      </if>
      <if test="record.isOriginal != null">
        `is_original` = #{record.isOriginal,jdbcType=BIT},
      </if>
      <if test="record.featuredImage != null">
        `featured_image` = #{record.featuredImage,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.postTitle != null">
        `post_title` = #{record.postTitle,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.postKeyword != null">
        `post_keyword` = #{record.postKeyword,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.postExcerpt != null">
        `post_excerpt` = #{record.postExcerpt,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.postContent != null">
        `post_content` = #{record.postContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.sourceName != null">
        `source_name` = #{record.sourceName,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.sourceUrl != null">
        `source_url` = #{record.sourceUrl,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update blog_posts
    set `id` = #{record.id,jdbcType=BIGINT},
      `category_id` = #{record.categoryId,jdbcType=BIGINT},
      `post_author` = #{record.postAuthor,jdbcType=BIGINT},
      `post_date` = #{record.postDate,jdbcType=TIMESTAMP},
      `post_status` = #{record.postStatus,jdbcType=VARCHAR},
      `post_views` = #{record.postViews,jdbcType=BIGINT},
      `comment_status` = #{record.commentStatus,jdbcType=VARCHAR},
      `post_password` = #{record.postPassword,jdbcType=VARCHAR},
      `post_modified` = #{record.postModified,jdbcType=TIMESTAMP},
      `post_parent` = #{record.postParent,jdbcType=BIGINT},
      `thumbs_up` = #{record.thumbsUp,jdbcType=BIGINT},
      `thumbs_down` = #{record.thumbsDown,jdbcType=BIGINT},
      `avg_views` = #{record.avgViews,jdbcType=DOUBLE},
      `avg_comment` = #{record.avgComment,jdbcType=DOUBLE},
      `page_rank` = #{record.pageRank,jdbcType=DOUBLE},
      `secret_level` = #{record.secretLevel,jdbcType=INTEGER},
      `is_original` = #{record.isOriginal,jdbcType=BIT},
      `featured_image` = #{record.featuredImage,jdbcType=LONGVARCHAR},
      `post_title` = #{record.postTitle,jdbcType=LONGVARCHAR},
      `post_keyword` = #{record.postKeyword,jdbcType=LONGVARCHAR},
      `post_excerpt` = #{record.postExcerpt,jdbcType=LONGVARCHAR},
      `post_content` = #{record.postContent,jdbcType=LONGVARCHAR},
      `source_name` = #{record.sourceName,jdbcType=LONGVARCHAR},
      `source_url` = #{record.sourceUrl,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update blog_posts
    set `id` = #{record.id,jdbcType=BIGINT},
      `category_id` = #{record.categoryId,jdbcType=BIGINT},
      `post_author` = #{record.postAuthor,jdbcType=BIGINT},
      `post_date` = #{record.postDate,jdbcType=TIMESTAMP},
      `post_status` = #{record.postStatus,jdbcType=VARCHAR},
      `post_views` = #{record.postViews,jdbcType=BIGINT},
      `comment_status` = #{record.commentStatus,jdbcType=VARCHAR},
      `post_password` = #{record.postPassword,jdbcType=VARCHAR},
      `post_modified` = #{record.postModified,jdbcType=TIMESTAMP},
      `post_parent` = #{record.postParent,jdbcType=BIGINT},
      `thumbs_up` = #{record.thumbsUp,jdbcType=BIGINT},
      `thumbs_down` = #{record.thumbsDown,jdbcType=BIGINT},
      `avg_views` = #{record.avgViews,jdbcType=DOUBLE},
      `avg_comment` = #{record.avgComment,jdbcType=DOUBLE},
      `page_rank` = #{record.pageRank,jdbcType=DOUBLE},
      `secret_level` = #{record.secretLevel,jdbcType=INTEGER},
      `is_original` = #{record.isOriginal,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>