<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.renfei.repositories.SysPagesMapper">
  <resultMap id="BaseResultMap" type="net.renfei.repositories.model.SysPages">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="page_author" jdbcType="BIGINT" property="pageAuthor" />
    <result column="page_date" jdbcType="TIMESTAMP" property="pageDate" />
    <result column="page_status" jdbcType="VARCHAR" property="pageStatus" />
    <result column="page_views" jdbcType="BIGINT" property="pageViews" />
    <result column="page_password" jdbcType="VARCHAR" property="pagePassword" />
    <result column="page_modified" jdbcType="TIMESTAMP" property="pageModified" />
    <result column="page_parent" jdbcType="BIGINT" property="pageParent" />
    <result column="thumbs_up" jdbcType="BIGINT" property="thumbsUp" />
    <result column="thumbs_down" jdbcType="BIGINT" property="thumbsDown" />
    <result column="secret_level" jdbcType="VARCHAR" property="secretLevel" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="net.renfei.repositories.model.SysPagesWithBLOBs">
    <result column="featured_image" jdbcType="LONGVARCHAR" property="featuredImage" />
    <result column="page_title" jdbcType="LONGVARCHAR" property="pageTitle" />
    <result column="page_keyword" jdbcType="LONGVARCHAR" property="pageKeyword" />
    <result column="page_excerpt" jdbcType="LONGVARCHAR" property="pageExcerpt" />
    <result column="page_content" jdbcType="LONGVARCHAR" property="pageContent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    `id`, `page_author`, `page_date`, `page_status`, `page_views`, `page_password`, `page_modified`, 
    `page_parent`, `thumbs_up`, `thumbs_down`, `secret_level`
  </sql>
  <sql id="Blob_Column_List">
    `featured_image`, `page_title`, `page_keyword`, `page_excerpt`, `page_content`
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="net.renfei.repositories.model.SysPagesExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_pages
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="net.renfei.repositories.model.SysPagesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_pages
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_pages
    where `id` = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_pages
    where `id` = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="net.renfei.repositories.model.SysPagesExample">
    delete from sys_pages
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="net.renfei.repositories.model.SysPagesWithBLOBs">
    insert into sys_pages (`id`, `page_author`, `page_date`, 
      `page_status`, `page_views`, `page_password`, 
      `page_modified`, `page_parent`, `thumbs_up`, 
      `thumbs_down`, `secret_level`, `featured_image`, 
      `page_title`, `page_keyword`, `page_excerpt`, 
      `page_content`)
    values (#{id,jdbcType=BIGINT}, #{pageAuthor,jdbcType=BIGINT}, #{pageDate,jdbcType=TIMESTAMP}, 
      #{pageStatus,jdbcType=VARCHAR}, #{pageViews,jdbcType=BIGINT}, #{pagePassword,jdbcType=VARCHAR}, 
      #{pageModified,jdbcType=TIMESTAMP}, #{pageParent,jdbcType=BIGINT}, #{thumbsUp,jdbcType=BIGINT}, 
      #{thumbsDown,jdbcType=BIGINT}, #{secretLevel,jdbcType=VARCHAR}, #{featuredImage,jdbcType=LONGVARCHAR}, 
      #{pageTitle,jdbcType=LONGVARCHAR}, #{pageKeyword,jdbcType=LONGVARCHAR}, #{pageExcerpt,jdbcType=LONGVARCHAR}, 
      #{pageContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="net.renfei.repositories.model.SysPagesWithBLOBs">
    insert into sys_pages
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        `id`,
      </if>
      <if test="pageAuthor != null">
        `page_author`,
      </if>
      <if test="pageDate != null">
        `page_date`,
      </if>
      <if test="pageStatus != null">
        `page_status`,
      </if>
      <if test="pageViews != null">
        `page_views`,
      </if>
      <if test="pagePassword != null">
        `page_password`,
      </if>
      <if test="pageModified != null">
        `page_modified`,
      </if>
      <if test="pageParent != null">
        `page_parent`,
      </if>
      <if test="thumbsUp != null">
        `thumbs_up`,
      </if>
      <if test="thumbsDown != null">
        `thumbs_down`,
      </if>
      <if test="secretLevel != null">
        `secret_level`,
      </if>
      <if test="featuredImage != null">
        `featured_image`,
      </if>
      <if test="pageTitle != null">
        `page_title`,
      </if>
      <if test="pageKeyword != null">
        `page_keyword`,
      </if>
      <if test="pageExcerpt != null">
        `page_excerpt`,
      </if>
      <if test="pageContent != null">
        `page_content`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="pageAuthor != null">
        #{pageAuthor,jdbcType=BIGINT},
      </if>
      <if test="pageDate != null">
        #{pageDate,jdbcType=TIMESTAMP},
      </if>
      <if test="pageStatus != null">
        #{pageStatus,jdbcType=VARCHAR},
      </if>
      <if test="pageViews != null">
        #{pageViews,jdbcType=BIGINT},
      </if>
      <if test="pagePassword != null">
        #{pagePassword,jdbcType=VARCHAR},
      </if>
      <if test="pageModified != null">
        #{pageModified,jdbcType=TIMESTAMP},
      </if>
      <if test="pageParent != null">
        #{pageParent,jdbcType=BIGINT},
      </if>
      <if test="thumbsUp != null">
        #{thumbsUp,jdbcType=BIGINT},
      </if>
      <if test="thumbsDown != null">
        #{thumbsDown,jdbcType=BIGINT},
      </if>
      <if test="secretLevel != null">
        #{secretLevel,jdbcType=VARCHAR},
      </if>
      <if test="featuredImage != null">
        #{featuredImage,jdbcType=LONGVARCHAR},
      </if>
      <if test="pageTitle != null">
        #{pageTitle,jdbcType=LONGVARCHAR},
      </if>
      <if test="pageKeyword != null">
        #{pageKeyword,jdbcType=LONGVARCHAR},
      </if>
      <if test="pageExcerpt != null">
        #{pageExcerpt,jdbcType=LONGVARCHAR},
      </if>
      <if test="pageContent != null">
        #{pageContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.renfei.repositories.model.SysPagesExample" resultType="java.lang.Long">
    select count(*) from sys_pages
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_pages
    <set>
      <if test="record.id != null">
        `id` = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.pageAuthor != null">
        `page_author` = #{record.pageAuthor,jdbcType=BIGINT},
      </if>
      <if test="record.pageDate != null">
        `page_date` = #{record.pageDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.pageStatus != null">
        `page_status` = #{record.pageStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.pageViews != null">
        `page_views` = #{record.pageViews,jdbcType=BIGINT},
      </if>
      <if test="record.pagePassword != null">
        `page_password` = #{record.pagePassword,jdbcType=VARCHAR},
      </if>
      <if test="record.pageModified != null">
        `page_modified` = #{record.pageModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.pageParent != null">
        `page_parent` = #{record.pageParent,jdbcType=BIGINT},
      </if>
      <if test="record.thumbsUp != null">
        `thumbs_up` = #{record.thumbsUp,jdbcType=BIGINT},
      </if>
      <if test="record.thumbsDown != null">
        `thumbs_down` = #{record.thumbsDown,jdbcType=BIGINT},
      </if>
      <if test="record.secretLevel != null">
        `secret_level` = #{record.secretLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.featuredImage != null">
        `featured_image` = #{record.featuredImage,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.pageTitle != null">
        `page_title` = #{record.pageTitle,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.pageKeyword != null">
        `page_keyword` = #{record.pageKeyword,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.pageExcerpt != null">
        `page_excerpt` = #{record.pageExcerpt,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.pageContent != null">
        `page_content` = #{record.pageContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update sys_pages
    set `id` = #{record.id,jdbcType=BIGINT},
      `page_author` = #{record.pageAuthor,jdbcType=BIGINT},
      `page_date` = #{record.pageDate,jdbcType=TIMESTAMP},
      `page_status` = #{record.pageStatus,jdbcType=VARCHAR},
      `page_views` = #{record.pageViews,jdbcType=BIGINT},
      `page_password` = #{record.pagePassword,jdbcType=VARCHAR},
      `page_modified` = #{record.pageModified,jdbcType=TIMESTAMP},
      `page_parent` = #{record.pageParent,jdbcType=BIGINT},
      `thumbs_up` = #{record.thumbsUp,jdbcType=BIGINT},
      `thumbs_down` = #{record.thumbsDown,jdbcType=BIGINT},
      `secret_level` = #{record.secretLevel,jdbcType=VARCHAR},
      `featured_image` = #{record.featuredImage,jdbcType=LONGVARCHAR},
      `page_title` = #{record.pageTitle,jdbcType=LONGVARCHAR},
      `page_keyword` = #{record.pageKeyword,jdbcType=LONGVARCHAR},
      `page_excerpt` = #{record.pageExcerpt,jdbcType=LONGVARCHAR},
      `page_content` = #{record.pageContent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_pages
    set `id` = #{record.id,jdbcType=BIGINT},
      `page_author` = #{record.pageAuthor,jdbcType=BIGINT},
      `page_date` = #{record.pageDate,jdbcType=TIMESTAMP},
      `page_status` = #{record.pageStatus,jdbcType=VARCHAR},
      `page_views` = #{record.pageViews,jdbcType=BIGINT},
      `page_password` = #{record.pagePassword,jdbcType=VARCHAR},
      `page_modified` = #{record.pageModified,jdbcType=TIMESTAMP},
      `page_parent` = #{record.pageParent,jdbcType=BIGINT},
      `thumbs_up` = #{record.thumbsUp,jdbcType=BIGINT},
      `thumbs_down` = #{record.thumbsDown,jdbcType=BIGINT},
      `secret_level` = #{record.secretLevel,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="net.renfei.repositories.model.SysPagesWithBLOBs">
    update sys_pages
    <set>
      <if test="pageAuthor != null">
        `page_author` = #{pageAuthor,jdbcType=BIGINT},
      </if>
      <if test="pageDate != null">
        `page_date` = #{pageDate,jdbcType=TIMESTAMP},
      </if>
      <if test="pageStatus != null">
        `page_status` = #{pageStatus,jdbcType=VARCHAR},
      </if>
      <if test="pageViews != null">
        `page_views` = #{pageViews,jdbcType=BIGINT},
      </if>
      <if test="pagePassword != null">
        `page_password` = #{pagePassword,jdbcType=VARCHAR},
      </if>
      <if test="pageModified != null">
        `page_modified` = #{pageModified,jdbcType=TIMESTAMP},
      </if>
      <if test="pageParent != null">
        `page_parent` = #{pageParent,jdbcType=BIGINT},
      </if>
      <if test="thumbsUp != null">
        `thumbs_up` = #{thumbsUp,jdbcType=BIGINT},
      </if>
      <if test="thumbsDown != null">
        `thumbs_down` = #{thumbsDown,jdbcType=BIGINT},
      </if>
      <if test="secretLevel != null">
        `secret_level` = #{secretLevel,jdbcType=VARCHAR},
      </if>
      <if test="featuredImage != null">
        `featured_image` = #{featuredImage,jdbcType=LONGVARCHAR},
      </if>
      <if test="pageTitle != null">
        `page_title` = #{pageTitle,jdbcType=LONGVARCHAR},
      </if>
      <if test="pageKeyword != null">
        `page_keyword` = #{pageKeyword,jdbcType=LONGVARCHAR},
      </if>
      <if test="pageExcerpt != null">
        `page_excerpt` = #{pageExcerpt,jdbcType=LONGVARCHAR},
      </if>
      <if test="pageContent != null">
        `page_content` = #{pageContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where `id` = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="net.renfei.repositories.model.SysPagesWithBLOBs">
    update sys_pages
    set `page_author` = #{pageAuthor,jdbcType=BIGINT},
      `page_date` = #{pageDate,jdbcType=TIMESTAMP},
      `page_status` = #{pageStatus,jdbcType=VARCHAR},
      `page_views` = #{pageViews,jdbcType=BIGINT},
      `page_password` = #{pagePassword,jdbcType=VARCHAR},
      `page_modified` = #{pageModified,jdbcType=TIMESTAMP},
      `page_parent` = #{pageParent,jdbcType=BIGINT},
      `thumbs_up` = #{thumbsUp,jdbcType=BIGINT},
      `thumbs_down` = #{thumbsDown,jdbcType=BIGINT},
      `secret_level` = #{secretLevel,jdbcType=VARCHAR},
      `featured_image` = #{featuredImage,jdbcType=LONGVARCHAR},
      `page_title` = #{pageTitle,jdbcType=LONGVARCHAR},
      `page_keyword` = #{pageKeyword,jdbcType=LONGVARCHAR},
      `page_excerpt` = #{pageExcerpt,jdbcType=LONGVARCHAR},
      `page_content` = #{pageContent,jdbcType=LONGVARCHAR}
    where `id` = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.renfei.repositories.model.SysPages">
    update sys_pages
    set `page_author` = #{pageAuthor,jdbcType=BIGINT},
      `page_date` = #{pageDate,jdbcType=TIMESTAMP},
      `page_status` = #{pageStatus,jdbcType=VARCHAR},
      `page_views` = #{pageViews,jdbcType=BIGINT},
      `page_password` = #{pagePassword,jdbcType=VARCHAR},
      `page_modified` = #{pageModified,jdbcType=TIMESTAMP},
      `page_parent` = #{pageParent,jdbcType=BIGINT},
      `thumbs_up` = #{thumbsUp,jdbcType=BIGINT},
      `thumbs_down` = #{thumbsDown,jdbcType=BIGINT},
      `secret_level` = #{secretLevel,jdbcType=VARCHAR}
    where `id` = #{id,jdbcType=BIGINT}
  </update>
</mapper>